<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/about_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/about_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1><span style="color: White;">About</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="soco-alternating-content-tiles">
                        <div>
                            <div class="row">
                                <div class="image col-4"><img loading="lazy"
                                        alt="Super Soco TC electric motorcycle lifestyle image"
                                        src="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                        srcset="./wp-content/uploads/2021/03/getting_started_banner.jpg"
                                        width="1800" height="1200"></div>
                                <div class="text">
                                    <div style="text-align: center; ">
                                        <h2><u
                                                style="text-decoration: underline 7px; text-decoration-color: rgb(21, 198, 21);">Urja
                                                Global Limited</u></h2>
                                        <h5>Urja Global Limited is in one of India’s leading Renewable Energy
                                            developers.</h5>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 300;">Urja Global Limited is in one of India’s
                                                leading Renewable Energy developers and operators. Urja is engaged in
                                                design, consultancy, integration, supply, installation, commissioning &
                                                maintenance of off-grid and grid connected Solar Power Plants. We are
                                                approved Channel Partners of Ministry of New and Renewable Energy
                                                (MNRE), Govt. of India.</span></p>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 300;">Our team comprises of seasoned professionals
                                                with a proven track record in design and integration of off grid and
                                                grid connected solar projects.</span></p>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 300;">We own one of the largest sales/installation
                                                networks PAN India backed by our team.Urja Global Limited is promoted by
                                                the promoters group hailing from Rajasthan, India.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="image"><img loading="lazy" alt="Super Soco Factory"
                                        src="../wp-content/uploads/2021/02/Factory.jpg"
                                        srcset="../wp-content/uploads/2021/02/Factory-300x286.jpg 300w, ../wp-content/uploads/2021/02/Factory.jpg 485w"
                                        width="485" height="463"></div>
                                <div class="text">
                                    <div>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 300;">With more than two decades of experience, they
                                                have established as one of the country’s leading industrial companies
                                                and a strong well-diversified conglomerate which is active in: Renewable
                                                Energy, IT&ITES, Tours & Travels, and Education & Training having
                                                presence across the globe.</span></p>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 300;">We assure customer’s satisfaction in terms of
                                                product quality and service. Urja offers outstanding quality varied
                                                Solar Products which makes use of green and clean energy simple
                                                viz.</span></p>

                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 400;">Solar Home Lighting Systems, Solar Lanterns,
                                                Solar Street Lighting Systems, Roof Top Systems, Solar PV Pannels with
                                                quality and standards conforming to ISO 9001 . All our Solar products
                                                range comply with MNRE standards.</span></p>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="image">
                                    <iframe width="800" height="400" src="https://www.youtube.com/embed/utmFXSZAo58"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                    <!-- <img loading="lazy" alt="Super Soco Factory"
                                    src="../wp-content/uploads/2021/02/Factory.jpg"
                                    srcset="../wp-content/uploads/2021/02/Factory-300x286.jpg 300w, ../wp-content/uploads/2021/02/Factory.jpg 485w"
                                    width="485" height="463"> -->
                                </div>
                                <div class="text">
                                    <div>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 400;">We at Urja are committed to providing
                                                world-class services to rapidly develop rural India focusing on rural
                                                electrification especially in hilly areas, forest regions, deserts,
                                                islands, far flung villages, unmanned locations and other areas which
                                                require reliable and uninterrupted power supply.</span></p>
                                        <p style="font-size: 18px; text-align: justify;"><span
                                                style="font-weight: 400;">With a strong design and manufacturing back
                                                ground UGL has developed themselves as a leading manufacturer of Solar
                                                Energy Systems to cater to almost the complete range of customer
                                                requirements</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
    <%- include('./common/footer.ejs') %>