<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1 style="color: white;">BUSINESS<span style="color:rgb(57, 189, 57);"> PARTNERS</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);"><strong>Urja Global Limited Business Partner</strong></h3>
                                <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p>
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                </p>
                                <p style="text-align: justify;">
                                    Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p>
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <section class="soco-pic-links" style="display: block; margin-left: auto; margin-right: auto;">
                        <div>
                            <a class="item rise-up" href="../purchase-demo-request/index.htm">
                                <div class="image"><img loading="lazy" alt="Super Soco TC Max lifesttyle image"
                                        src="../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o.jpg"
                                        srcset="../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o-300x300.jpg 300w, ../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o-1024x1024.jpg 1024w, ../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o-150x150.jpg 150w, ../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o-768x768.jpg 768w, ../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o-1000x1000.jpg 1000w, ../wp-content/uploads/2021/03/159761657_119849676818897_4263285817108746248_o.jpg 1080w"
                                        width="1080" height="1080"></div>
                                <div class="text">
                                    <div>
                                        <h2>MOHMMAD TARIQUE</h2>
                                        <div class="description">
                                            7606945027
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </section>
                    <section class="rich-text">
                        <div>
                            <div style="text-align: start;">
                                <!-- <p style="font-weight: 300; font-style: bold;"><strong>.</strong></p> -->
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                </p>
                                <!-- <p style="text-align: justify;">
                                    Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p> -->
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <section class="soco-text-and-image">
                        <h3><strong>Core Focus Area</strong></h3>

                        <div>
                            <div class="rise-up image"><img loading="lazy"
                                alt="Super Soco CUx electric motorcycle cutout image"
                                src="../wp-content/uploads/2020/12/dealers.png"
                                srcset="../wp-content/uploads/2020/12/dealers-300x248.png 300w, ../wp-content/uploads/2020/12/dealers-768x635.png 768w, ../wp-content/uploads/2020/12/dealers.png 846w"
                                width="846" height="700"></div>
                            <div class="text" style="text-align: justify;">
                                <div>
                                    <!-- <h2 class="rise-up">Dealership Network</h2> -->
                                    <div class="rise-up body">
                                        <h3 style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px; color: black;">
                                            Solar Consultants
                                        </h3>
                                        <p >
                                            Consulting in digital and enterprise transformation services.
                                        </p>
                                    </div>
                                    <div class="rise-up body">
                                        <h3 style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px; color: black;">
                                            IT Consultants
                                        </h3>
                                        <p>
                                            Consulting in digital and enterprise transformation services.     
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </section>


                </div>
            </div>
        </main>
    </div>
    <%- include('./common/footer.ejs') %>