<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1><span>CEO and DIRECTOR</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);"><strong>Urja Global Limited CEO & Director</strong></h3>
                                <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p>
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                </p>
                                <p style="text-align: justify;">Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p>
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <section class="soco-expandable-content light-on-dark no-img-crop">
                        <div>
                            <div class="main" style="text-align: justify;">
                                <div class="image"><img loading="lazy"
                                        alt="Super Soco TSx electric motorcycle being ridden with pillion lifestyle image"
                                        src="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                        srcset="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                        width="1800" height="1200"></div>
                                <div class="text">
                                    <h3 class="main-heading" style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px;">Gaurav Aggarwal</h3>
                                    <div class="main-content">
                                        <h4>CEO & DIRECTOR</h4>
                                    </div>
                                    <div class="main-content">
                                        <div>
                                            <p><span style="font-weight: 400;">Has over 16 years of experience in Managing Business as a profit centre with the Telecom / Broadband / IT / Service industries. He has led the evolution & growth of CA TV & broadband services in North India.</span></p>
                                        </div>
                                    </div>
                                    <div class="main-content">
                                        <div>
                                            <p><span style="font-weight: 400;">An effective leader with distinguished ability of building, leading & motivating large multicultural teams. Have represented organizations at many world forums.</span></p>
                                        </div>
                                    </div>
                                    <!-- <div class="read-more-wrap">
                                        <div class="button arrow-button read-more-button" data-toggle=""
                                            data-open-text="Read Less">Read More</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </main>
    </div>
    <%- include('./common/footer.ejs') %>