<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1>Urja Global <span style="color:rgb(57, 189, 57);"> Overview</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);"><strong>Urja Global Limited Overview</strong></h3>
                                <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p>
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                </p>
                                <p style="text-align: justify;">Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p>
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <div class="post-content" style="margin: 0; padding: 0px; letter-spacing: 1px; word-spacing: 3px;">
                        <div>
                            <section class="soco-text-and-image">
                                <div>
                                    <div class="text" style="text-align: justify;">
                                        <div>
                                            <!-- <h2 class="rise-up">Dealership Network</h2> -->
                                            <div class="rise-up body">
                                                <p>
                                                    Our team comprises of seasoned professionals with a proven track record in design and integration of off grid and grid connected solar projects. We own one of the largest sales/installation networks PAN India backed by our team. Urja Global Limited is promoted by the promoters group hailing from Rajasthan, India. With more than two decades of experience, they have established as one of the country’s leading industrial companies and a strong well-diversified conglomerate which is active in: Renewable Energy, IT&ITES, Tours & Travels, and Education & Training having presence across the globe.

                                                </p>
                                            </div>
                                            <div class="rise-up body">
                                                <p>
                                                    We assure customer’s satisfaction in terms of product quality and service. Urja offers outstanding quality varied Solar Products which makes use of green and clean energy simple viz. Solar Home Lighting Systems, Solar Lanterns, Solar Street Lighting Systems, Roof Top Systems, Solar PV Pannels with quality and standards conforming to ISO 9001. All our Solar products range comply with MNRE standards.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rise-up image"><img loading="lazy"
                                            alt="Super Soco CUx electric motorcycle cutout image"
                                            src="../wp-content/uploads/2020/12/dealers.png"
                                            srcset="../wp-content/uploads/2020/12/dealers-300x248.png 300w, ../wp-content/uploads/2020/12/dealers-768x635.png 768w, ../wp-content/uploads/2020/12/dealers.png 846w"
                                            width="846" height="700"></div>
                                </div>
                                <div class="rise-up body">
                                    <p>
                                        We at Urja are committed to providing world-class services to rapidly develop rural India focusing on rural electrification especially in hilly areas, forest regions, deserts, islands, far flung villages, unmanned locations and other areas which require reliable and uninterrupted power supply.
                                    </p>
                                </div>
                                <div class="rise-up body">
                                    <p>
                                        With a strong design and manufacturing back ground UGL has developed themselves as a leading manufacturer of Solar Energy Systems to cater to almost the complete range of customer requirementsUrja Global Limited is promoted by the promoters group hailing from Rajasthan, India.
                                    </p>
                                </div>

                                <div class="rise-up body">
                                    <p>
                                        With more than two decades of experience, they have established as one of the country’s leading industrial companies and a strong well-diversified conglomerate which is active in: Renewable Energy, IT&ITES, Tours & Travels, and Education & Training having presence across the globe.
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('./common/footer.ejs') %>