<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from www.weddingcarhiredelhi.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Jun 2022 03:49:47 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Urja Global</title>
    <meta name="description"
        content="Wedding Car Hire Delhi offers Luxury cars; Rolls Royce, Jaguar, Limousine, Audi, BMW, Mercedes, Bentley, Fortuner, and Thar for wedding rental in Delhi, Gurugram, and Noida.." />
    <meta name="keywords"
        content="Wedding car Hire Delhi, Hire a car for Wedding, Wedding Car Rental, Luxury Wedding Cars, Car Hire for Marriage, Car Hire for Wedding Delhi, Gurugram, Noida,">
    <meta name="google-site-verification" content="xzu7uZt02bK3G5bZVkdqox20Y1YP4ySftWPkhsu-YIA">
    <meta name='dmca-site-verification' content='RGJNS3RKVUs5dFJkTktmMTlibjJ2M1dNbVRWNFR0YUQyYU5OVnFBZzExaz01' />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/custom-animation.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <header>
        <div class="header__top d-none d-md-block">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-9">
                        <div class="grb__cta header-cta">
                            <ul>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-phone-alt"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Call Us:</p>
                                        <span><a href="tel:917703961725">+91 7703961725</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Mail Us:  <span>urjaglobal@gmail.com</span></p>
                                       
                                    </div>
                                </li>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-clock"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Service Hours</p>
                                        <span>24 x 7 Available</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="grb__social f-right st-1">
                            <ul>
                                <li><a class="fb" href="https://www.facebook.com/weddingcarshires/"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twt" href="https://twitter.com/weddingcarhire3"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a class="insta" href="https://www.instagram.com/weddingcardelhi/"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a class="pint" href="https://in.pinterest.com/victoriatravel1/_saved/"><i
                                            class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main header-sticky header-main-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-8">
                        <div class="logo">
                            <div class="logo-bg-1">
                                <img src="/assets/img/shape/logo-bg-1.png" alt="">
                            </div>
                            <a class="logo-text-black" href="index-2.html"><img
                                    src="/assets/img/logo/logo-text-black.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-4">
                        <div class="header__menu-area f-right">
                            <div class="menu-bg-1">
                                <img src="/assets/img/shape/menu-bg-1.png" alt="">
                            </div>
                            <div class="main-menu main-menu-1">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="index-2.html">Home</a></li>
                                        <li class="menu-item-has-children"><a href="#">Hire a Car</a>
                                            <ul class="sub-menu">
                                                <li><a href="hire-car-for-wedding.html">Wedding Cars</a></li>
                                                <li><a href="hire-luxury-cars-on-rent.html">Luxury Cars</a></li>
                                                <li><a href="vintage-car-hire.html">Vintage Cars</a></li>
                                                <li><a href="self-drive-car.html">Self Driven Cars</a></li>
                                                <li><a href="corporate-car-hire.html">Corporate Car Rental</a></li>
                                                <li><a href="open-car-hire.html">Convertible Cars</a></li>
                                                <li><a href="pre-wedding-cars.html">Pre-Wedding Shoot</a></li>
                                                <li><a href="coming-soon.html">Action Cars</a></li>
                                                <li><a href="hire-volvo-coaches.html">Volvo Coaches</a></li>
                                                <li><a href="coming-soon.html">Airport Taxi</a></li>
                                                <li><a href="coming-soon.html">Personal Travel</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="our-fleets.html">Fleets</a></li>
                                        <li class="menu-item-has-children"><a href="#">Branches</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">New Delhi</a></li>
                                                <li><a href="#">Gurugram</a></li>
                                                <li><a href="#">Ghaziabad</a></li>
                                                <li><a href="#">Noida</a></li>
                                                <li><a href="#">Amritsar</a></li>
                                                <li><a href="#">Chandigarh</a></li>
                                                <li><a href="#">Ludhiana</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Brands</a>
                                            <ul class="sub-menu">
                                                <li><a href="hire-rolls-royce-on-rent.html">Rolls Royce</a></li>
                                                <li><a href="hire-limousine-on-rent.html">Limousine</a></li>
                                                <li><a href="hire-jaguar-on-rent.html">Jaguar</a></li>
                                                <li><a href="hire-lamborghini-on-rent.html">Lamborghini</a></li>
                                                <li><a href="hire-bentley-on-rent.html">Bentley</a></li>
                                                <li><a href="hire-audi-on-rent.html">Audi</a></li>
                                                <li><a href="hire-bmw-on-rent.html">BMW</a></li>
                                                <li><a href="hire-mercedes-on-rent.html">Mercedes</a></li>
                                                <li><a href="hire-thar-on-rent.html">Thar</a></li>
                                                <li><a href="hire-hummer-on-rent.html">Hummer</a></li>
                                                <li><a href="hire-fortuner-on-rent.html">Fortuner</a></li>
                                                <li><a href="hire-range-rover-on-rent.html">Range Rover</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">About Us</a>
                                            <ul class="sub-menu">
                                                <li><a href="about-us.html">About Company</a></li>
                                                <li><a href="coming-soon.html">Testimonials</a></li>
                                                <li><a href="coming-soon.html">Download Profile</a></li>
                                                <li><a href="terms-of-use.html">Terms of Use</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header__search">
                                <a class="search-btn nav-search " href="tel:919810887582">
                                    <i class="fal fa-phone alt fa-rotate-90"></i></a>
                                <a class="side-toggle d-lg-none" href="javascript:void(0)"><i
                                        class="fal fa-bars"></i></a>
                            </div>
                            <div class="header__btn d-none d-xl-inline-block">
                                <a href="https://api.whatsapp.com/send?phone=919810887582&amp;text=Hi%20I'm%20Looking%20for%20a%20car%20for%20wedding.%20Help%20me%20out..."
                                    class="grb-btn"><i class="fab fa-whatsapp"></i>WhatsApp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-logo mb-30 pb-20">
                    <div class="row align-items-center">
                        <div class="col-9"><a href="index-2.html"><img src="/assets/img/logo/logo-white.png"
                                    alt="Logo"></a>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i
                                    class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="offset-widget offset_searchbar mb-30">
                    <form method="get" action="#">
                        <div class="offset_search_content">
                            <input type="search" placeholder="What are you looking?">
                            <button type="submit" class="offset_search_button"><i
                                    class="fal fa-phone alt fa-rotate-90"></i></button>
                        </div>
                    </form>
                </div>
                <div class="offset-widget mb-40 d-none d-lg-block">
                    <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">About Us</h4>
                        <p class="mb-30">But I must explain to you how all this mistaken idea of
                            denouncing pleasure and
                            praising pain
                            was born and will give you a complete account of the system and expound the actual teachings
                            of the great
                            explore</p>
                        <a href="contact-us.html" class="c-btn btn-round-02 d-none">Contact Us</a>
                    </div>
                </div>
                <div class="contact-infos mt-30 mb-30">
                    <div class="contact-list mb-30">
                        <h4>How to Reach Us?</h4>
                        <a href="#" class="">
                            <i class="fal fa-map-marker-alt"></i>
                            <span>CG-3, RG Complex, Motia Khan, Paharganj, New Delhi-15</span>
                        </a>
                        <a href="tel:+919810887582" class="">
                            <i class="fal fa-phone alt fa-rotate-90"></i>
                            <span>+91 9810887582</span>
                        </a>
                        <a href="cdn-cgi/l/email-protection.html#335a5d555c73445657575a5d545052415b5a415657565f5b5a1d5a5d"
                            class="">
                            <i class="far fa-envelope"></i>
                            <span><span class="__cf_email__"
                                    data-cfemail="c0a9aea6af80b7a5a4a4a9aea7a3a1b2a8a9b2a5a4a5aca8a9eea9ae">[email&#160;protected]</span></span>
                        </a>
                    </div>
                    <div class="grb__social footer-social offset-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <main>

        <section class="slider-area p-relative fix">
            <div class="slider-active swiper-container">
                <div class="swiper-wrapper">
                    <div class="single-slider slider-height swiper-slide slider-overlay" data-swiper-autoplay="5000">
                        <div class="slide-bg" data-background="//assets/img/hire-audi-a3-convertible.jpg"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <div class="hero-bg-shape" data-animation="fadeInUp" data-delay=".3s">
                                            <div class="hero-s-1">
                                                <img src="//assets/img/shape/hero-s-1.png" alt="">
                                            </div>
                                            <div class="hero-s-2">
                                                <img src="//assets/img/shape/hero-s-2.png" alt="">
                                            </div>
                                        </div>
                                        <p data-animation="fadeInUp" data-delay=".6s">Hire Premium & Ultra </p>
                                        <h1 data-animation="fadeInUp" data-delay=".9s">Luxury Rolls Royce for Wedding.
                                        </h1>
                                        <div class="hero-content-btn" data-animation="fadeInUp" data-delay="1.1s">
                                            <a href="hire-rolls-royce-on-rent.html" class="grb-btn">Hire a Rolls
                                                Royce!</a>
                                        </div>
                                        <div class="hero-video-btn" data-animation="fadeInUp" data-delay="1.2s">
                                            <a class="grb-video popup-video"
                                                href="https://www.youtube.com/watch?v=PdI4gLBLTC8"><i
                                                    class="fas fa-play"></i></a>
                                            <p>Recently Hired</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height swiper-slide slider-overlay" data-swiper-autoplay="5000">
                        <div class="slide-bg" data-background="//assets/img/hire-a-thar.jpg"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <div class="hero-bg-shape" data-animation="fadeInUp" data-delay=".3s">
                                            <div class="hero-s-1">
                                                <img src="/assets/img/shape/hero-s-1.png" alt="">
                                            </div>
                                            <div class="hero-s-2">
                                                <img src="/assets/img/shape/hero-s-2.png" alt="">
                                            </div>
                                        </div>
                                        <p data-animation="fadeInUp" data-delay=".6s">Enrich Your Wedding with</p>
                                        <h1 data-animation="fadeInUp" data-delay=".9s">Hiring Audi for Wedding.</h1>
                                        <div class="hero-content-btn" data-animation="fadeInUp" data-delay="1.1s">
                                            <a href="hire-bmw-on-rent.html" class="grb-btn">Excited to Know Rent</a>
                                        </div>
                                        <div class="hero-video-btn" data-animation="fadeInUp" data-delay="1.2s">
                                            <a class="grb-video popup-video"
                                                href="https://www.youtube.com/watch?v=fLLERNrLWm8"><i
                                                    class="fas fa-play"></i></a>
                                            <p>Watch Videos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height swiper-slide slider-overlay" data-swiper-autoplay="5000">
                        <div class="slide-bg" data-background="/assets/img/hire-vintage-car-on-rent.webp"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="hero-content">
                                        <div class="hero-bg-shape" data-animation="fadeInUp" data-delay=".3s">
                                            <div class="hero-s-1">
                                                <img src="/assets/img/shape/hero-s-1.png" alt="">
                                            </div>
                                            <div class="hero-s-2">
                                                <img src="/assets/img/shape/hero-s-2.png" alt="">
                                            </div>
                                        </div>
                                        <p data-animation="fadeInUp" data-delay=".6s">Make a Classy Entrance </p>
                                        <h1 data-animation="fadeInUp" data-delay=".9s">Hire Vintage Cars for Wedding.
                                        </h1>
                                        <div class="hero-content-btn" data-animation="fadeInUp" data-delay="1.1s">
                                            <a href="vintage-car-hire.html" class="grb-btn">Hire a Classic Car!</a>
                                        </div>
                                        <div class="hero-video-btn" data-animation="fadeInUp" data-delay="1.2s">
                                            <a class="grb-video popup-video"
                                                href="https://www.youtube.com/watch?v=dwrCxTyT64I"><i
                                                    class="fas fa-play"></i></a>
                                            <p>Watch Videos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-nav">
                    <div class="swiper-button-prev"><i class="far fa-arrow-left"></i></div>
                    <div class="swiper-button-next"><i class="far fa-arrow-right"></i></div>
                </div>
            </div>
        </section>


        <div class="brand-area pt-100 pb-100">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-12">
                        <h2> Hire Top Brands on Rent!</h2>
                        <div class="swiper-container brand-active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-rolls-royce-on-rent.html"><img
                                                src="/assets/img/brand/rolls-royce.png" alt="Hire Rolls Royce">Hire Rolls
                                            Royce</a>
                                        <a href="hire-rolls-royce-on-rent.html"><img
                                                src="/assets/img/brand/rolls-royce-hire.png" alt="Hire Rolls Royce">Hire
                                            Rolls Royce</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-audi-on-rent.html"><img src="/assets/img/brand/audi.png" alt="">
                                            Hire Audi</a>
                                        <a href="hire-audi-on-rent.html"><img src="/assets/img/brand/audi-hire.png"
                                                alt="">Hire Audi</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-bmw-on-rent.html"><img src="/assets/img/brand/bmw.png" alt="">Hire
                                            BMW</a>
                                        <a href="hire-bmw-on-rent.html"><img src="/assets/img/brand/bmw-hire.png"
                                                alt="">Hire BMW</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-jaguar-on-rent.html"><img src="/assets/img/brand/jaguar.png"
                                                alt="Hire a Jaguar">Hire a Jaugar</a>
                                        <a href="hire-jaguar-on-rent.html"><img src="/assets/img/brand/hire-jaguar.png"
                                                alt="Rent a Jaguar">Hire a Jaugar</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-mercedes-on-rent.html"><img src="/assets/img/brand/mercedez.png"
                                                alt="Hire a Mercedez">Hire a Mercedes</a>
                                        <a href="hire-mercedes-on-rent.html"><img
                                                src="/assets/img/brand/hire-mercedez.png" alt="Hire a Mercedez">Hire a
                                            Mercedes</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-lamborghini-on-rent.html"><img
                                                src="/assets/img/brand/lamborghini.jpg" alt="Hire a Lamborghini">Hire a
                                            Lamborghini</a>
                                        <a href="hire-lamborghini-on-rent.html"><img
                                                src="/assets/img/brand/hire-lamborghini.jpg"
                                                alt="Hire a Lamborghini">Hire a Lamborghini</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-limousine-on-rent.html"><img src="/assets/img/brand/g-wagon.png"
                                                alt="">Hire a Limo</a>
                                        <a href="hire-limousine-on-rent.html"><img
                                                src="/assets/img/brand/hire-g-wagon.png" alt="">Hire a Limo</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-thar-on-rent.html#"><img src="/assets/img/brand/thar.png"
                                                alt="">Hire a Thar </a>
                                        <a href="hire-thar-on-rent.html"><img src="/assets/img/brand/hire-thar.png"
                                                alt="">Hire a Thar</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-hummer-on-rent.html"><img src="/assets/img/brand/hummer.png"
                                                alt="">Hire a Hummer</a>
                                        <a href="hire-hummer-on-rent.html"><img src="/assets/img/brand/hire-hummer.png"
                                                alt="">Hire a Hummer</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="hire-bentley-on-rent.html"><img src="/assets/img/brand/bentley.png"
                                                alt="Hire a Bentley">Hire a Bentley</a>
                                        <a href="hire-bentley-on-rent.html"><img src="/assets/img/brand/hire-bentley.png"
                                                alt="Hire a Bentley">Hire a Bentley</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="vintage-car-hire.html"><img src="/assets/img/brand/vintage.png"
                                                alt="Hire a Vintage"> Hire a Vintage</a>
                                        <a href="vintage-car-hire.html"><img src="/assets/img/brand/hire-vintage.png"
                                                alt="Hire a Vintage">Hire a Vintage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="about__area">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-xl-6 col-lg-5">
                        <div class="about__img p-relative mb-30">
                            <div class="about__img-inner">
                                <img src="/assets/img/about/wedding-car-hire-delhi-about.webp"
                                    alt="WCH Wedding Car Rental Company">
                            </div>
                            <div class="p-element">
                                <div class="ab-border d-none d-lg-block"></div>
                                <div class="award">
                                    <img src="/assets/img/icon/batch.png" alt="">
                                    <p>Best in Wedding Car Rentals.</p>
                                </div>
                                <div class="ab-image">
                                    <img src="/assets/img/about/abp-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="about__content mb-30">
                            <div class="section-title mb-30">
                                <div class="border-left">
                                    <p>WEDDING CAR HIRE</p>
                                </div>
                                <h2>Leading Wedding Car Rental Agency.</h2>
                                <h3>Hire Premium & Luxury Cars to Make Your Day Memorable! </h3>
                            </div>
                            <p> wch offer premium, luxury and budget cars on rent for weddings, self drive, corporate
                                meetings, pre-wedding shoots,
                                movie shoots, airport transfer and personal travel. Our unique collection includes
                                luxury cars - Rolls Royce, Limousine,
                                Lamborghini, Jaguar, Bentley, Porsche, Audi, BMW, Mercedes, Fortuner, Thar, Hummer, and
                                other premium cars; vintage cars,
                                convertible cars, wedding cars, action cars, taxis, and cabs.</p>
                            <p>These cars are available at very affordable rent within the
                                picked cities; Delhi, Noida, Gurugram, Ghaziabad, Amritsar, Chandigarh, Ludhiana and
                                Patiala</p>
                            <ul class="about-points">
                                <li>
                                    <div class="points-heading">
                                        <h5> Luxury Fits For Every Bride! </h5>
                                    </div>
                                    <p> If you're looking for the best car rental service on your wedding day, You may
                                        Hire a Car with us bcz We're the top premium & luxury car rental agency for the
                                        wedding. </p>
                                </li>
                            </ul>
                            <div class="about__btn st-1">
                                <a href="about-us.html" class="grb-btn st-1">Read More<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="counter-board-area st-3">
            <div class="container">
                <div class="counter-board-border">
                    <div class="row wow fadeInUp counter-board-content st-3">
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-board-single mb-40 st-3">
                                <i class="flaticon-add-group"></i>
                                <div class="counter-board-number"><span class="odometer" data-count="10">00</span>K+
                                </div>
                                <p>HAPPY CUSTOMERS</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-board-single mb-40 st-3">
                                <i class="flaticon-businessman"></i>
                                <div class="counter-board-number"><span class="odometer" data-count="150">00</span>+
                                </div>
                                <p>SKILLED STAFF</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-board-single mb-40 st-3">
                                <i class="flaticon-layers"></i>
                                <div class="counter-board-number"><span class="odometer" data-count="900">00</span>+
                                </div>
                                <p>AVAILABLE CARS</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-board-single mb-40 st-3">
                                <i class="flaticon-trophy-1"></i>
                                <div class="counter-board-number"><span class="odometer" data-count="10">00</span>+
                                </div>
                                <p>AWARDS WINS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="portfolio-area-slide pt-120 pb-90">
            <div class="container">
                <div class="row wow fadeInUp justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title mb-55 text-center">
                            <div class="border-c-bottom st-3">
                                <p>The Special One for You</p>
                            </div>
                            <h2>Hire Your Dream Car on Rent!</h2>
                        </div>
                    </div>
                </div>
                <div class="portfolio-slide-wrapper p-relative">
                    <div class="swiper-container portfolio-slide">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/rolls-royce-phantom.webp"
                                        alt="Hire Rolls Royce for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/rolls-royce-phantom.webp"
                                                    alt="Hire Rolls Royce for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Ultra Luxury </span>
                                                <h5><a href="hire-rolls-royce-on-rent.html">Hire Rolls Royce</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/jaguar-wedding-rental.webp"
                                        alt="Hire a Jaguar for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/jaguar-wedding-rental.webp"
                                                    alt="Hire a Jaguar for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>The Special One </span>
                                                <h5><a href="hire-jaguar-on-rent.html">HIRE A JAGUAR</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-luxury-limo.webp" alt="Hire a Limo">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image" href="/assets/img/portfolio/hire-luxury-limo.webp"
                                                    alt="Hire a Limousine"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>The Perfect Choice </span>
                                                <h5><a href="hire-limousine-on-rent.html">HIRE A LIMOUSINE</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-mercedes-for-wedding.webp"
                                        alt="Hire a Mercedes for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-mercedes-for-wedding.webp"
                                                    alt="Hire a Mercedes for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>It's Awesome</span>
                                                <h5><a href="#">Mercedes for Wedding</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-bentley-for-wedding.webp"
                                        alt="Hire Bentley for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-bentley-for-wedding.webp"><i
                                                        class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Give a Powerful Start</span>
                                                <h5><a href="hire-bentley-on-rent.html">Hire a Bentley</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-audi-for-wedding.webp"
                                        alt="Hire Audi A3 Convertible for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-audi-for-wedding.webp"
                                                    alt="Hire Audi A3 Convertible for Wedding"><i
                                                        class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>The Classy One</span>
                                                <h5><a href="hire-audi-on-rent.html">Audi A3 Convertible</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-bmw-for-wedding.webp"
                                        alt="BMW Wedding Car Rental">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-bmw-for-wedding.webp"
                                                    alt="BMW Wedding Car Rental"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>For a Classic Entrance</span>
                                                <h5><a href="hire-bmw-on-rent.html">Hire a BMW</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-mercedes-for-wedding.webp"
                                        alt="Hire Mercedes for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-mercedes-for-wedding.webp"
                                                    alt="Hire Mercedes for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Always Stunner </span>
                                                <h5><a href="hire-mercedes-on-rent.html">HIRE A MERCEDES</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-audi-for-meeting.webp"
                                        alt="Hire Audi on Rent for Meeting">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-audi-for-meeting.webp"
                                                    alt="Hire Audi on Rent for Meeting"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Give a Business Class</span>
                                                <h5><a href="corporate-car-hire.html">Audi for Meeting</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/hire-a-lamborghini.html" alt="Hire a Lamborghini">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image" href="/assets/img/hire-a-lamborghini.html"
                                                    alt="Hire a Lamborghini"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Drive Faster</span>
                                                <h5><a href="hire-lamborghini-on-rent.html">Hire a Lamborghini</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/vintage-wedding-car-rental.webp"
                                        alt="Vintage Wedding Car Rental">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/vintage-wedding-car-rental.webp"
                                                    alt="Vintage Wedding Car Rental"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Royal Entrance</span>
                                                <h5><a href="vintage-car-hire.html">Hire a Vintage Car</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-a-hummer-for-wedding.webp"
                                        alt="Hire a Hummer for Wedding" alt="">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-a-hummer-for-wedding.webp"
                                                    alt="Hire a Hummer for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>People's Choice</span>
                                                <h5><a href="hire-hummer-on-rent.html">Hire Hummer</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-fortuner-for-wedding.webp"
                                        alt="Hire a Toyota Fortuner for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-fortuner-for-wedding.webp"
                                                    alt="Hire a Toyota Fortuner for Wedding"><i
                                                        class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>Cruiser Have a Look</span>
                                                <h5><a href="hire-fortuner-on-rent.html">Hire a Fortuner</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/portfolio/hire-range-rover-for-wedding.webp"
                                        alt="Range Rover for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image"
                                                    href="/assets/img/portfolio/hire-range-rover-for-wedding.webp"
                                                    alt="Range Rover for Wedding"><i class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>The Fun Time</span>
                                                <h5><a href="hire-range-rover-on-rent.html">Range Rover</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-slide-single p-relative mb-30">
                                    <img src="/assets/img/hire-thar-for-wedding.html"
                                        alt="Hire a Convertible Thar for Wedding">
                                    <div class="portfolio-slide-single-content">
                                        <div class="portfolio-slide-inner">
                                            <div class="cbg-shape">
                                                <img src="/assets/img/shape/cbg-shape.png" alt="">
                                            </div>
                                            <div class="icon-link text-center">
                                                <a class="popup-image" href="/assets/img/hire-thar-for-wedding.html"
                                                    alt="Hire a Convertible Thar for Wedding"><i
                                                        class="fal fa-plus"></i></a>
                                            </div>
                                            <div class="portfolio-slide-single-text">
                                                <span>The Fun Time</span>
                                                <h5><a href="hire-thar-on-rent.html">Hire a Thar</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-slide-nav">
                        <div class="swipper-nav-arrow swiper-button-prev "><i class="fal fa-angle-left"></i>
                        </div>
                        <div class="swipper-nav-arrow swiper-button-next"><i class="fal fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="counter__area pt-110 pb-90" data-background="/assets/img/bg/counter-bg.jpg">
            <div class="container">
                <div class="row wow fadeInUp align-items-center counter-head">
                    <div class="col-lg-9 col-md-8">
                        <div class="counter-left">
                            <div class="section-title mb-60">
                                <h2 class="white-color ">Do You Want to Hire a CAB for Corporate Meeting?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="counter-right mb-30">
                            <a href="contact-us.html" class="grb-border-btn">
                                CHECK CORPORATE CARS!
                            </a>
                        </div>
                    </div>
                </div>
                <div class="counter-inner">
                    <div class="counter-content">
                        <div class="row wow fadeInUp">
                            <div class="col-lg-6">
                                <div class="counter-content-left mb-30">
                                    <div class="section-title mb-40">
                                        <h2>Rent Luxury Cars for <span>Doli,</span> Sagun, Vidai, & Honeymoon. </h2>
                                    </div>
                                    <p>Hire modern Ultra Luxury Cars, Premium SUVs, Luxury Limousine,
                                        <strong>Convertible Cars</strong>, Classic and <strong>Vintage Cars</strong> for
                                        your wedding entrance within your budgets. You'll believe that We're the right
                                        place to Book a Car for Wedding.</p>
                                    <h5 class="mb-15">WHY TO HIRE WITH US.</h5>
                                    <ul class="execute-list">
                                        <li>Well Mannered, Trained & Verified Chauffeurs.</li>
                                        <li>Early Pick-up and Drops.</li>
                                        <li>Safe & Sanitized Cars Delivery at your Doorstep.</li>
                                        <li>First Aid Safety KIT Available.</li>
                                        <li>GPS Enabled Cars.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="counter-content-right text-end mb-30">
                                    <div class="counter-right-img">
                                        <img src="/assets/img/hire-a-vintage-car-wedding.png" alt="Hire a Vintage Car">
                                        <div class="experience-text">
                                            <p><span>25+</span>Years
                                                Experiences</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="testimonial-area st-1" data-background="/assets/img/bg/bg-shape.png">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-lg-12">
                        <div class="section-title mb-55 text-center">
                            <div class="border-c-bottom">
                                <p>Testimonials</p>
                            </div>
                            <h2>Client's Words</h2>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp justify-content-center">
                    <div class="col-lg-10">
                        <div class="testimonial-wrapper p-relative">
                            <div class="testimonial-content-inner">
                                <div class="swiper-container testimonial-active">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="testimonial-single st-1 text-center">
                                                <div class="testimonial-img">
                                                    <img src="/assets/img/test1.png" alt="">
                                                </div>
                                                <p class="mb-30">It was an amazing experience. I hired them for a
                                                    wedding anniversary surprise and everything was
                                                    well coordinated. Driver was courteous and kind. We used Mercedes
                                                    and Audi for a smoothless ride. Highly recommend
                                                    them if you are looking for a value for money option. You won't be
                                                    dissapointed. It will indeed be a pleasurable
                                                    experience. Thank you once again.</p>
                                                <div class="testimonial-name">
                                                    <h5>Vagisha Arora</h5>
                                                    <p>Customer</p>
                                                </div>
                                                <ul class="testimonial-review">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-single st-1 text-center">
                                                <div class="testimonial-img">
                                                    <img src="/assets/img/test1.png" alt="">
                                                </div>
                                                <p class="mb-30">We need Luxury wedding car rental service for marriage
                                                    in
                                                    Janakpuri so that it can become memorable. Wedding Car Hire Delhi
                                                    gives us
                                                    the perfect solution. We hire BMW for wedding and enjoying best
                                                    feeling in life.
                                                    Thank you for best services.</p>
                                                <div class="testimonial-name">
                                                    <h5>Aarti Singh</h5>
                                                    <p>Janakpuri, Delhi</p>
                                                </div>
                                                <ul class="testimonial-review">
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-nav-1 testimonial-nav-arrow">
                                <div class="testimonial1-button-prev"><i class="far fa-arrow-left"></i></div>
                                <div class="testimonial1-button-next"><i class="far fa-arrow-right"></i></div>
                            </div>
                            <div class="testimonial-quote">
                                <i class="fal fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog-area pt-120">
            <div class="container">
            </div>
            </div>
        </section>

    </main>

    <div class="newsletter-area">
        <div class="container">
            <div class="row wow fadeInUp align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-text mb-30">
                        <h4>Subscribe Us For Newsletter</h4>
                        <p>To Get Latest Update about Wedding Cars, Subscribe Now.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="subscribe-form mb-30">
                        <input type="text" placeholder="Enter your email...">
                        <button type="submit"><i class="fas fa-paper-plane"></i>Subscribe Us</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <section class="footer-area pt-80 pb-40">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="question-area">
                                <div class="question-icon">
                                    <i class="flaticon-support"></i>
                                </div>
                                <div class="question-text">
                                    <p>Have a question? Call Anytime 24/7</p>
                                    <span><a href="tel:919810887582">(+91) 9810887582</a></span>
                                </div>
                            </div>
                            <div class="footer-address">
                                <h5>Corporate Office</h5>
                                <p>A-311, 3rd Floor, RG Complex, Motia Khan, Paharganj, Oppo. Police Station, New Delhi
                                    - 110015, IND</p>
                            </div>
                            <div class="grb__social footer-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/weddingcarshires/"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/weddingcarhire3"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://www.instagram.com/weddingcardelhi/"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://in.pinterest.com/victoriatravel1/_saved/"><i
                                                class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget mb-40 cat-m">
                            <div class="footer-widget-title">
                                <h4>Premium Cars</h4>
                            </div>
                            <ul class="footer-list">
                                <li><a href="hire-rolls-royce-on-rent.html">Rolls Royce</a></li>
                                <li><a href="hire-limousine-on-rent.html">Limousine</a></li>
                                <li><a href="hire-jaguar-on-rent.html">Jaguar</a></li>
                                <li><a href="hire-lamborghini-on-rent.html">Lamborghini</a></li>
                                <li><a href="hire-bentley-on-rent.html">Bentley</a></li>
                                <li><a href="hire-audi-on-rent.html">Audi</a></li>
                                <li><a href="coming-soon.html">Ferrari</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget mb-40 cat-m">
                            <div class="footer-widget-title">
                                <h4>Luxury Cars</h4>
                            </div>
                            <ul class="footer-list">
                                <li><a href="hire-bmw-on-rent.html">BMW</a></li>
                                <li><a href="hire-mercedes-on-rent.html">Mercedes Benz</a></li>
                                <li><a href="hire-hummer-on-rent.html">Hummer</a></li>
                                <li><a href="hire-thar-on-rent.html">Thar</a></li>
                                <li><a href="#">Fortuner</a></li>
                                <li><a href="hire-range-rover-on-rent.html">Range Rover</a></li>
                                <li><a href="vintage-car-hire.html">Vintage</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-widget-title">
                                <h4>Core Services</h4>
                            </div>
                            <ul class="footer-list">
                                <li><a href="hire-car-for-wedding.html">Wedding Cars</a></li>
                                <li><a href="hire-luxury-cars-on-rent.html">Luxury Cars</a></li>
                                <li><a href="vintage-car-hire.html">Vintage Cars</a></li>
                                <li><a href="self-drive-car.html">Self Driven Cars</a></li>
                                <li><a href="corporate-car-hire.html">Corporate Cars</a></li>
                                <li><a href="pre-wedding-cars.html">Pre Wedding Shoot</a></li>
                                <li><a href="open-car-hire.html">Convertible Cars</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="copyright-area">
            <div class="container">
                <div class="row wow fadeInUp align-items-center">
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="copyright-logo logo-shape">
                            <a href="index-2.html">
                                <img src="/assets/img/logo/logo-white.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; <a href="#">WCH 2021.</a> All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <ul class="copyright-list f-right">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                            <li><a href="terms-of-use.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/swiper-bundle.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/ajax-form.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/odometer.min.js"></script>
    <script src="/assets/js/appair.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

<!-- Mirrored from www.weddingcarhiredelhi.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Jun 2022 03:50:14 GMT -->

</html>