<%- include('./common/header.ejs') %>
        <div id="body-wrapper">
            <main>
                <div class="post-content">
                    <div>
                        <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                            <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                                data-transition-duration="0.5" data-rapid-transition-duration="0.1"
                                data-transition-wait="5" data-transition-type="fade">
                                <div class="banner-slideshow">
                                    <div data-bgd-image="/images/carousel/first.jpeg"
                                        class="banner-slideshow-item banner-slideshow-item-center show"
                                        style="background-image: url('/images/carousel/first.jpeg');">
                                        <div class="banner-overlay banner-overlay-dark"></div>
                                        <div>
                                        </div>
                                    </div>
                                    <div data-bgd-image="/images/carousel/second.jpg"
                                        class="banner-slideshow-item banner-slideshow-item-center"
                                        style="background-image: url('/images/carousel/second.jpg');">
                                        <div class="banner-overlay banner-overlay-dark"></div>
                                        <div>
                                        </div>
                                    </div>
                                    <div data-bgd-image="/images/carousel/third.jpg"
                                        class="banner-slideshow-item banner-slideshow-item-center"
                                        style="background-image: url('/images/carousel/third.jpg');">
                                        <div class="banner-overlay banner-overlay-dark"></div>
                                        <div>
                                        </div>
                                    </div>
                                    <!-- <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/08/Super-Soco-banner-3.jpg" class="banner-slideshow-item banner-slideshow-item-center" style="background-image: url('/wp-content/uploads/2021/08/Super-Soco-banner-3-1500x1000.jpg');">
			<div class="banner-overlay banner-overlay-dark"></div>
		<div>
								</div>
</div>
									<div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2020/12/AC1_0337-P.jpg" class="banner-slideshow-item banner-slideshow-item-center" style="background-image: url('/wp-content/uploads/2020/12/AC1_0337-P-1500x1000.jpg');">
			<div class="banner-overlay banner-overlay-dark"></div>
		<div>
								</div>
</div>
									<div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/08/Super-Soco-web-banner-2.jpg" class="banner-slideshow-item banner-slideshow-item-center" style="background-image: url('/wp-content/uploads/2021/08/Super-Soco-web-banner-2-1500x1000.jpg');">
			<div class="banner-overlay banner-overlay-dark"></div>
		<div>
								</div>
</div>
									<div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2020/12/SuperSoco15.jpg" class="banner-slideshow-item banner-slideshow-item-left-center" style="background-image: url('/wp-content/uploads/2020/12/SuperSoco15-1500x1000.jpg');">
			<div class="banner-overlay banner-overlay-dark"></div>
		<div>
								</div>
</div> -->
                                </div>
                                <div class="banner-content banner-content-left">
                                    <div>
                                        <div class="banner-above-headings">
                                            <div>Leading the electric urban mobility revolution</div>
                                        </div>
                                        <div class="banner-heading">
                                            <h1><span>Urja Global</span></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-scroll-down">
                                    <div>
                                        <div class="scroll-down-button">
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-slideshow-ctrl-numbers zero-pad-numbers">
                                    <div></div>
                                </div>

                            </div>
                        </div>
                        <section class="soco-bike-info-slider">
                            <div>
                                <div class="main">
                                    <div class="controls controls-sm">
                                        <div class="control selected" data-index="0">E-Zess</div>
                                        <div class="control" data-index="1">E-Life</div>
                                        <!-- <div class="control" data-index="2">E-Life</div> -->
                                        <!-- <div class="control" data-index="3">TSx</div>
									<div class="control" data-index="4">CPx</div>
									<div class="control" data-index="5">CUx</div> -->
                                    </div>
                                    <div class="main-top">
                                        <div class="background-heading stretch-text-parent">
                                            <h2 class="stretch-text">Explore</h2>
                                        </div>
                                        <div class="images">
                                            <!-- <div class="image show" data-index="0"><img loading="lazy" alt="Super Soco CU mini" src="/images/caraousel/first.jpeg" srcset="/images/caraousel/first.jpeg" width="1200" height="834"></div> -->
                                            <div class="image show" data-index="0"><img loading="lazy"
                                                    alt="E Life scooter" src="/images/products/e-zess.jpg"
                                                    srcset="/images/products/e-zess.jpg" width="1200" height="834">
                                            </div>
                                            <div class="image" data-index="1"><img loading="lazy"
                                                    alt="Super Soco TC Max electric motorcycle - side"
                                                    src="/images/products/E-LIFE.png"
                                                    srcset="/images/products/E-LIFE.png" width="1200" height="834">
                                            </div>
                                            <!-- <div class="image" data-index="2"><img loading="lazy" alt="Super Soco TC electric motorcycle - side" src="/wp-content/uploads/2020/12/TC_featured.png" srcset="/wp-content/uploads/2020/12/TC_featured-300x209.png 300w, /wp-content/uploads/2020/12/TC_featured-1024x712.png 1024w, /wp-content/uploads/2020/12/TC_featured-768x534.png 768w, /wp-content/uploads/2020/12/TC_featured.png 1200w" width="1200" height="834"></div>
											<div class="image" data-index="3"><img loading="lazy" alt="Super Soco TSx electric motorcycle - side" src="/wp-content/uploads/2020/12/TSX_featured.png" srcset="/wp-content/uploads/2020/12/TSX_featured-300x209.png 300w, /wp-content/uploads/2020/12/TSX_featured-1024x712.png 1024w, /wp-content/uploads/2020/12/TSX_featured-768x534.png 768w, /wp-content/uploads/2020/12/TSX_featured.png 1200w" width="1200" height="834"></div>
											<div class="image" data-index="4"><img loading="lazy" alt="Super Soco CPx electric scooter - side" src="/wp-content/uploads/2020/12/CPX_featured.png" srcset="/wp-content/uploads/2020/12/CPX_featured-300x209.png 300w, /wp-content/uploads/2020/12/CPX_featured-1024x712.png 1024w, /wp-content/uploads/2020/12/CPX_featured-768x534.png 768w, /wp-content/uploads/2020/12/CPX_featured.png 1200w" width="1200" height="834"></div>
											<div class="image" data-index="5"><img loading="lazy" alt="Super Soco CUx electric scooter - side" src="/wp-content/uploads/2020/12/CUX_featured.png" srcset="/wp-content/uploads/2020/12/CUX_featured-300x209.png 300w, /wp-content/uploads/2020/12/CUX_featured-1024x712.png 1024w, /wp-content/uploads/2020/12/CUX_featured-768x534.png 768w, /wp-content/uploads/2020/12/CUX_featured.png 1200w" width="1200" height="834"></div> -->
                                        </div>
                                    </div>
                                    <div class="slider finite-equal-width-slider no-chevrons no-dots no-numbers num-items-6"
                                        data-auto-slide-wait="6">
                                        <div>
                                            <div class="slider-items-display">
                                                <div class="slider-items-slider">
                                                    <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="1543">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Book it for</h3>
                                                                    <a href="/electric-vehicles"
                                                                        class="price-link"><span
                                                                            class="price-price">₹499/-</span>*</a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>42kmh / 26mph Max Speed, 1 kW Max Power
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>40 km / 25 miles** Estimated Range, 40v
                                                                            28Ah (1.1kWh) Battery Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>AM &#8211; CBT from 16 years old (50cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="/electric-vehicles">Explore E-Vehicles</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="93">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Book it for</h3>
                                                                    <a href="/electric-vehicles"
                                                                        class="price-link"><span
                                                                            class="price-price">₹499/-*</span> 
                                                                            <!-- <span class="price-option">(Alloy Wheel)</span>,
                                                                        <span class="price-price">£4,499</span> <span
                                                                            class="price-option">(Spoked
                                                                            Wheel)</span> -->
                                                                        </a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>60mph / 95kph Max Speed, 5.0kW Max Power
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>60 Miles / 95km** Estimated Range, 60v 45Ah
                                                                            (2.7kWh) Battery Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>A1 &#8211; CBT from 17 years old (125cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="/electric-vehicles">Explore E-Vehicles</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="92">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Price</h3>
                                                                    <a href="bike/tc/index.htm" class="price-link"><span
                                                                            class="price-price">£2,899</span> <span
                                                                            class="price-option">(Single
                                                                            Battery)</span>, <span
                                                                            class="price-price">£3,399</span> <span
                                                                            class="price-option">(Dual
                                                                            Battery)</span>*</a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>28mph / 45kph (Restricted) Max Speed, 3.0kW
                                                                            Max Power</div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>44 Miles / 71km (Single Battery), 78 Miles
                                                                            / 126km (Dual Battery)** Estimated Range,
                                                                            60v 30Ah (1.8 kWh) Battery Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>AM &#8211; CBT from 16 years old (50cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="bike/tc/index.htm">Explore TC</a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="91">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Price</h3>
                                                                    <a href="bike/tsx/index.htm"
                                                                        class="price-link"><span
                                                                            class="price-price">£2,899</span> <span
                                                                            class="price-option">(Single
                                                                            Battery)</span>, <span
                                                                            class="price-price">£3,399</span> <span
                                                                            class="price-option">(Dual
                                                                            Battery)</span>*</a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>28mph / 45kph (Restricted) Max Speed, 3.0kW
                                                                            Max Power</div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>44 Miles / 70km (Single Battery), 80 Miles
                                                                            / 128km (Dual Battery)** Estimated Range,
                                                                            60v 30Ah (1.8 kWh) Battery Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>AM &#8211; CBT from 16 years old (50cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="bike/tsx/index.htm">Explore TSx</a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="90">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Price</h3>
                                                                    <a href="bike/cpx/index.htm"
                                                                        class="price-link"><span
                                                                            class="price-price">£3,999</span> <span
                                                                            class="price-option">(Single
                                                                            Battery)</span>, <span
                                                                            class="price-price">£4,999</span> <span
                                                                            class="price-option">(Dual
                                                                            Battery)</span>*</a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>56mph / 90kph Max Speed, 4.8kW Max Power
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>44 Miles / 72km (Single Battery), 87 Miles
                                                                            / 137km (Dual Battery)** Estimated Range,
                                                                            60v 45Ah Per Battery (2.7kWh) Battery
                                                                            Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>A1 &#8211; CBT from 17 years old (125cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="bike/cpx/index.htm">Explore CPx</a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="slider-item">
                                                        <div class="soco-bike-info-slider-item" data-post-id="89">
                                                            <div class="item-main">
                                                                <div class="price">
                                                                    <h3>Price</h3>
                                                                    <a href="bike/cux/index.htm"
                                                                        class="price-link"><span
                                                                            class="price-price">£2,549</span> <span
                                                                            class="price-option">(Standard
                                                                            Version)</span>, <span
                                                                            class="price-price">£2,899</span> <span
                                                                            class="price-option">(Ducati
                                                                            Edition)</span>*</a>
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-motor">
                                                                        <h3>Motor</h3>
                                                                        <div>28mph / 45kph (Restricted) Max Speed, 2.8kW
                                                                            Max Power</div>
                                                                    </div>
                                                                    <div class="info-battery">
                                                                        <h3>Battery</h3>
                                                                        <div>40 Miles / 64km** Estimated Range, 60v 30Ah
                                                                            (1.8 kWh) Battery Capacity</div>
                                                                    </div>
                                                                    <div class="info-license">
                                                                        <h3>License</h3>
                                                                        <div>AM &#8211; CBT from 16 years old (50cc
                                                                            equivalent)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="button-wrap">
                                                                <a class="button big-button arrow-button"
                                                                    href="bike/cux/index.htm">Explore CUx</a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls controls-lg">
                                    <div class="control selected" data-index="0">E-Zess</div>
                                    <div class="control" data-index="1">E-Life</div>
                                    <!-- <div class="control" data-index="2">TC</div>
							<div class="control" data-index="3">TSx</div>
							<div class="control" data-index="4">CPx</div>
							<div class="control" data-index="5">CUx</div> -->
                                </div>
                            </div>
                        </section>
                        <section class="soco-image-and-text-slider has-global-heading">
                            <span class="bgd-circles"><span></span><span></span></span>
                            <div>
                                <div class="text-wrap">
                                    <h2 class="global-heading rise-up">We Are <br class="md-lg-only"> Urja Global Ltd.</h2>
                                    <div class="slider finite-equal-width-slider no-chevrons no-dots no-numbers num-items-5 text-slider"
                                        data-auto-slide-wait="0">
                                        <div>
                                            <div class="slider-items-display">
                                                <div class="slider-items-slider">
                                                    <div class="slider-item">
                                                        <div class="body-wrap no-heading">
                                                            <div class="body rise-up">
                                                                <p><b>Urja Global Limited</b> is an <b>ISO 9001, 14001 & 18001 certified</b> leading integrated Solar Power Company.</p> <p>The group provides total Solar Solutions and is known for Design, Supply, Distribution and Comprehensive approach of delivering Standalone Solar Products...</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-item">
                                                        <div class="body-wrap no-heading">
                                                            <div class="body rise-up">
                                                                <p><span style="font-weight: 400;"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="slider-item">
                                                        <div class="body-wrap no-heading">
                                                            <div class="body rise-up">
                                                                <p><span style="font-weight: 400;">Given the choice, we
                                                                        know that all of us want to protect the planet.
                                                                        But that shouldn’t come with compromise or
                                                                        unnecessary expense. Super Soco bikes are made
                                                                        with removable lithium-ion batteries. Providing
                                                                        bikes that are powerful enough to cope with day
                                                                        to day travel, whilst light enough to benefit
                                                                        from removable batteries. This allows reliable
                                                                        electrified transport to the 40% of UK
                                                                        households without off-street parking. No need
                                                                        to wait for infrastructure when your household
                                                                        plug is enough to charge your bike. </span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-item">
                                                        <div class="body-wrap no-heading">
                                                            <div class="body rise-up">
                                                                <p>Unlike many of the other brands imported into the UK,
                                                                    Super Soco is a manufacturer. Rather than
                                                                    outsourcing production to different factories, we
                                                                    manufacture the majority of the vehicles completely
                                                                    in house to ensure the highest levels of quality
                                                                    control.</p>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="slider-item">
                                                        <div class="body-wrap no-heading">
                                                            <div class="body rise-up">
                                                                <p>Join us in our mission to make electric affordable!
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls">
                                    <div class="control prev" data-prev=""></div>
                                    <div class="control next" data-next=""></div>
                                </div>
                                <div class="image-wrap rise-up">
                                    <div class="slider finite-equal-width-slider no-chevrons no-dots no-numbers num-items-5 image-slider"
                                        data-auto-slide-wait="0">
                                        <div>
                                            <div class="slider-items-display">
                                                <div class="slider-items-slider">
                                                    <div class="slider-item">
                                                        <img loading="lazy" alt=""
                                                            src="/wp-content/uploads/2021/10/hangzhou-1.png"
                                                            srcset="/wp-content/uploads/2021/10/hangzhou-1-300x188.png 300w, /wp-content/uploads/2021/10/hangzhou-1-1024x641.png 1024w, /wp-content/uploads/2021/10/hangzhou-1-768x481.png 768w, /wp-content/uploads/2021/10/hangzhou-1.png 1092w"
                                                            width="1092" height="684">
                                                    </div>
                                                    <div class="slider-item">
                                                        <img loading="lazy" alt="Super Soco electric vehicle showroom"
                                                            src="/wp-content/uploads/2021/01/sample1.png"
                                                            srcset="/wp-content/uploads/2021/01/sample1-300x176.png 300w, /wp-content/uploads/2021/01/sample1-768x450.png 768w, /wp-content/uploads/2021/01/sample1.png 1000w"
                                                            width="1000" height="586">
                                                    </div>
                                                    <!-- <div class="slider-item">
                                                        <img loading="lazy"
                                                            alt="Super Soco TSx electric motorcycle being ridden"
                                                            src="/wp-content/uploads/2020/12/AC1_9769.jpg"
                                                            srcset="/wp-content/uploads/2020/12/AC1_9769-300x200.jpg 300w, /wp-content/uploads/2020/12/AC1_9769-1024x683.jpg 1024w, /wp-content/uploads/2020/12/AC1_9769-768x512.jpg 768w, /wp-content/uploads/2020/12/AC1_9769-1536x1024.jpg 1536w, /wp-content/uploads/2020/12/AC1_9769-1500x1000.jpg 1500w, /wp-content/uploads/2020/12/AC1_9769.jpg 1800w"
                                                            width="1800" height="1200">
                                                    </div>
                                                    <div class="slider-item">
                                                        <img loading="lazy" alt="Super Soco Factory"
                                                            src="/wp-content/uploads/2021/02/Factory.jpg"
                                                            srcset="/wp-content/uploads/2021/02/Factory-300x286.jpg 300w, /wp-content/uploads/2021/02/Factory.jpg 485w"
                                                            width="485" height="463">
                                                    </div>
                                                    <div class="slider-item">
                                                        <img loading="lazy" alt=""
                                                            src="/wp-content/uploads/2021/10/EICMA.jpg"
                                                            srcset="/wp-content/uploads/2021/10/EICMA-300x200.jpg 300w, /wp-content/uploads/2021/10/EICMA-1024x683.jpg 1024w, /wp-content/uploads/2021/10/EICMA-768x512.jpg 768w, /wp-content/uploads/2021/10/EICMA-1536x1024.jpg 1536w, /wp-content/uploads/2021/10/EICMA-1500x1000.jpg 1500w, /wp-content/uploads/2021/10/EICMA.jpg 1620w"
                                                            width="1620" height="1080">
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="spacer-block white" data-spacer-heights="30:45:60" style="height: 30px; "></div>
                        <section class="soco-pic-links">
                            <div>
                                <a class="item rise-up" href="#">
                                    <div class="image"><img loading="lazy" alt="Super Soco UK dealer map"
                                            src="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                            srcset="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                            width="986" height="894"></div>
                                    <div class="text">
                                        <div>
                                            <h2>4th</h2>
                                            <div class="description" style="font-size: 20px;">Best Eco-friendly Company For 2 Years In A Row!</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="item rise-up" href="#">
                                    <div class="image"><img loading="lazy" alt="Super Soco TC Max"
                                            src="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                            srcset="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                            width="1539" height="1200"></div>
                                    <div class="text">
                                        <div>
                                            <h2>22+</h2>
                                            <div class="description" style="font-size: 20px;">Years In Innovative Conservation Of Energy</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="item rise-up" href="#">
                                    <div class="image"><img loading="lazy"
                                            alt="Super Soco CUx and TC Max electric vehicle lifestyle image"
                                            src="/wp-content/uploads/2021/03/getting_started_banner.jpg"
                                            srcset="/wp-content/uploads/2021/03/getting_started_banner-300x188.jpg 300w, /wp-content/uploads/2021/03/getting_started_banner-1024x640.jpg 1024w, /wp-content/uploads/2021/03/getting_started_banner-768x480.jpg 768w, /wp-content/uploads/2021/03/getting_started_banner-1536x960.jpg 1536w, /wp-content/uploads/2021/03/getting_started_banner-1600x1000.jpg 1600w, /wp-content/uploads/2021/03/getting_started_banner.jpg 1800w"
                                            width="1800" height="1125"></div>
                                    <div class="text">
                                        <div>
                                            <h2>1322+</h2>
                                            <div class="description" style="font-size: 20px;">FResidential Intallations</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="item rise-up" href="#">
                                    <div class="image"><img loading="lazy"
                                            alt="Super Soco TSx and CUx electric motorcycle cutout image"
                                            src="/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                            srcset="/wp-content/uploads/2021/03/finance_insurance_banner-300x200.jpg 300w, /wp-content/uploads/2021/03/finance_insurance_banner-1024x683.jpg 1024w, /wp-content/uploads/2021/03/finance_insurance_banner-768x512.jpg 768w, /wp-content/uploads/2021/03/finance_insurance_banner-1536x1024.jpg 1536w, /wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg 1500w, /wp-content/uploads/2021/03/finance_insurance_banner.jpg 1800w"
                                            width="1800" height="1200"></div>
                                    <div class="text">
                                        <div>
                                            <h2>100+</h2>
                                            <div class="description" style="font-size: 20px;">Corporate Turnkey Projects</div>
                                        </div>
                                    </div>
                                </a>
                                <!-- <a class="item rise-up" href="co2-calculator/index.htm">
                                    <div class="image"><img loading="lazy" alt="Super Soco TSX electric motorcycle"
                                            src="/wp-content/uploads/2020/12/footer.png"
                                            srcset="/wp-content/uploads/2020/12/footer-264x300.png 264w, /wp-content/uploads/2020/12/footer.png 490w"
                                            width="490" height="556"></div>
                                    <div class="text">
                                        <div>
                                            <h2>CO2 Calculator</h2>
                                            <div class="description">Find out just how much of an impact switching to
                                                electric can have on reducing your carbon footprint</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="item rise-up" href="offers/index.htm">
                                    <div class="image"><img loading="lazy" alt="Super Soco TC Max lifestyle image"
                                            src="/wp-content/uploads/2021/03/offers_banner.jpg"
                                            srcset="/wp-content/uploads/2021/03/offers_banner-300x234.jpg 300w, /wp-content/uploads/2021/03/offers_banner-1024x798.jpg 1024w, /wp-content/uploads/2021/03/offers_banner-768x599.jpg 768w, /wp-content/uploads/2021/03/offers_banner-1536x1198.jpg 1536w, /wp-content/uploads/2021/03/offers_banner-1283x1000.jpg 1283w, /wp-content/uploads/2021/03/offers_banner.jpg 1539w"
                                            width="1539" height="1200"></div>
                                    <div class="text">
                                        <div>
                                            <h2>Offers</h2>
                                            <div class="description">Check out our featured offers to help shortcut your
                                                route to electric</div>
                                        </div>
                                    </div>
                                </a> -->
                            </div>
                        </section>


                        <div id="body-wrapper">
                            <main>
                                <div class="post-content">
                                    <div>
                                        <header class="document-top">
                                            <div>
                                                <h1><span>FAQs</span></h1>
                                            </div>
                                        </header>
                                        <!-- <div class="soco-large-image">
                                            <div><img loading="lazy" alt="Super Soco TC electric motorcycle side profile cutout"
                                                    src="../wp-content/uploads/2020/12/faqs.png"
                                                    srcset="../wp-content/uploads/2020/12/faqs-300x211.png 300w, ../wp-content/uploads/2020/12/faqs-1024x719.png 1024w, ../wp-content/uploads/2020/12/faqs-768x539.png 768w, ../wp-content/uploads/2020/12/faqs.png 1100w"
                                                    width="1100" height="772"></div>
                                        </div> -->
                                        <div class="spacer-block" data-spacer-heights="30:45:60" style="height: 30px; "></div>
                                        <section class="soco-collapsibles">
                                            <div>
                                                <section class="collapsible-sections">
                                                    <div>
                                                        <section
                                                            class="collapsible-section collapsible-section-why-should-i-buy-a-super-soco-">
                                                            <div>
                                                                <header class="collapsible-section-header">
                                                                    <h2><span>Is Urja Global Limited Solar Training Program?</span></h2>
                                                                    <div class="collapsible-section-button">
                                                                        <div></div>
                                                                    </div>
                                                                </header>
                                                                <div class="collapsible-section-body">
                                                                    <div>
                                                                        <p>Urja Global Limited offers a 3 day Certification Course on “Solar Technology & Entrepreneurship Development Program” to qualified technical graduates looking out for prospective opportunities. The course majorly focuses on hands on training in Solar Technology & components of off-grid applications, their operations and installation.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="collapsible-section collapsible-section-how-much-does-electricity-cost-">
                                                            <div>
                                                                <header class="collapsible-section-header">
                                                                    <h2><span>What are the financial benefits of solar energy?</span></h2>
                                                                    <div class="collapsible-section-button">
                                                                        <div></div>
                                                                    </div>
                                                                </header>
                                                                <div class="collapsible-section-body">
                                                                    <div>
                                                                        <p>When you install a solar energy system on your property, you save money on your electricity bills and protect yourself against rising electricity rates in the future. How much you can save depends on the utility rates and solar policies in your area, but going solar is a smart investment regardless of where you live.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="collapsible-section collapsible-section-how-far-can-i-go-on-one-charge-">
                                                            <div>
                                                                <header class="collapsible-section-header">
                                                                    <h2><span>What are the environmental benefits of solar energy?</span></h2>
                                                                    <div class="collapsible-section-button">
                                                                        <div></div>
                                                                    </div>
                                                                </header>
                                                                <div class="collapsible-section-body">
                                                                    <div>
                                                                        <p>Solar power, like other renewable energy resources, has many environmental and health benefits. Going solar reduces greenhouse gas emissions, which contribute to climate change, and also results in fewer air pollutants like sulfur dioxide and particulate matter, which can cause health problems.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="collapsible-section collapsible-section-how-long-will-the-battery-last-">
                                                            <div>
                                                                <header class="collapsible-section-header">
                                                                    <h2><span>How do solar photovoltaic (PV) panels work?</span></h2>
                                                                    <div class="collapsible-section-button">
                                                                        <div></div>
                                                                    </div>
                                                                </header>
                                                                <div class="collapsible-section-body">
                                                                    <div>
                                                                        <p>Solar panels absorb the sun's energy throughout the day and convert it into direct current (DC) electricity. Most homes and businesses run on alternating current (AC) electricity, so the DC electricity is then passed through an inverter to convert it to usable AC electricity. At that point, you either use the electricity in your house or send it back to the electric grid.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section
                                                            class="collapsible-section collapsible-section-how-long-does-it-take-the-battery-to-charge-">
                                                            <div>
                                                                <header class="collapsible-section-header">
                                                                    <h2><span>How can I become a Dealer Or Distributor Of Urja Kendra?</span></h2>
                                                                    <div class="collapsible-section-button">
                                                                        <div></div>
                                                                    </div>
                                                                </header>
                                                                <div class="collapsible-section-body">
                                                                    <div>
                                                                        <p>For Dealer Or Distributor Of Urja Kendra kindly contact via Email ID: info@urjaglobal.in or call Toll Free :- 8000-500-789</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        
                                                    </div>
                                                </section>
                                            </div>
                                        </section>
                                        <div class="spacer-block" data-spacer-heights="30:60:90" style="height: 30px; "></div>
                                    </div>
                                </div>
                            </main>
                        </div>
  
                        
                        
                        <div class="spacer-block white" data-spacer-heights="30" style="height: 30px; "></div>
                        <!-- <section class="soco-blog-feed has-menu">
                            <div>
                                <div class="blog-feed-menu">
                                    <div>
                                        <div class="nav-item selected" data-post-nav="post">News</div>
                                        <div class="nav-item" data-post-nav="review">Reviews</div>
                                    </div>
                                </div>
                                <div class="post-items-wrap show" data-posts="post">
                                    <div>
                                        <article class="post-item" data-post-item="">
                                            <div>
                                                <a class="image" href="introducing-the-cu-mini/index.htm"><img
                                                        loading="lazy" alt="Super Soco CU mini"
                                                        src="/wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02.jpg"
                                                        srcset="/wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02-300x200.jpg 300w, /wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02-1024x683.jpg 1024w, /wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02-768x512.jpg 768w, /wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02-1536x1024.jpg 1536w, /wp-content/uploads/2021/11/JA_Super_Soco_CU_mini_web_main_02-1500x1000.jpg 1500w"
                                                        width="2500" height="1667"></a>
                                                <div class="text">
                                                    <h2>
                                                        <a href="introducing-the-cu-mini/index.htm">Introducing the CU
                                                            mini!</a>
                                                    </h2>
                                                    <h3 class="date">03/12/2021</h3>
                                                    <blockquote>Introducing the Super Soco CU mini; the answer to
                                                        lightweight and affordable electric urban transportation. Safer
                                                        than an e-scooter, the CU mini redefines just how simple it can
                                                        be to get around our cities and…</blockquote>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post-item" data-post-item="">
                                            <div>
                                                <a class="image"
                                                    href="brands-hatch-british-superbike-finale/index.htm"><img
                                                        loading="lazy" alt="Super Soco riders at Brands Hatch BSB final"
                                                        src="/wp-content/uploads/2021/10/BSB-Brands-final.jpg"
                                                        srcset="/wp-content/uploads/2021/10/BSB-Brands-final-300x200.jpg 300w, /wp-content/uploads/2021/10/BSB-Brands-final-1024x683.jpg 1024w, /wp-content/uploads/2021/10/BSB-Brands-final-768x512.jpg 768w, /wp-content/uploads/2021/10/BSB-Brands-final-1536x1025.jpg 1536w, /wp-content/uploads/2021/10/BSB-Brands-final-1499x1000.jpg 1499w"
                                                        width="2500" height="1668"></a>
                                                <div class="text">
                                                    <h2>
                                                        <a href="brands-hatch-british-superbike-finale/index.htm">BSB –
                                                            Brands delivers in a spectacular showdown!</a>
                                                    </h2>
                                                    <h3 class="date">18/10/2021</h3>
                                                    <blockquote>The final round of the Bennetts British Superbike
                                                        Championship delivered in spectacular fashion at Brands Hatch on
                                                        the weekend, with Tommy Bridewell narrowly missing out on the
                                                        crown as Yamaha rider Tarran Mackenzie took the…</blockquote>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="post-items-wrap" data-posts="review">
                                    <div>
                                        <article class="post-item" data-post-item="">
                                            <div>
                                                <a class="image"
                                                    href="review/devitt-tc-max-review-perfect-for-negotiating-the-city-centre/index.htm"><img
                                                        loading="lazy"
                                                        alt="Super Soco TC Max electric motorcycle in London"
                                                        src="/wp-content/uploads/2021/09/TC-Max-Boom.jpg"
                                                        srcset="/wp-content/uploads/2021/09/TC-Max-Boom-300x200.jpg 300w, /wp-content/uploads/2021/09/TC-Max-Boom-1024x683.jpg 1024w, /wp-content/uploads/2021/09/TC-Max-Boom-768x512.jpg 768w, /wp-content/uploads/2021/09/TC-Max-Boom-1536x1024.jpg 1536w, /wp-content/uploads/2021/09/TC-Max-Boom-1500x1000.jpg 1500w"
                                                        width="2500" height="1667"></a>
                                                <div class="text">
                                                    <h2>
                                                        <a
                                                            href="review/devitt-tc-max-review-perfect-for-negotiating-the-city-centre/index.htm">Devitt
                                                            TC Max review; “perfect for negotiating the city centre”</a>
                                                    </h2>
                                                    <h3 class="date">03/09/2021</h3>
                                                    <blockquote>It’s a slick, city dwelling machine that carves through
                                                        traffic with ease and provides an efficient and pocket-friendly
                                                        commuting option in the long term.&#8221;</blockquote>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="post-item" data-post-item="">
                                            <div>
                                                <a class="image"
                                                    href="review/spicy110-cpx-electric-scooter-review/index.htm"><img
                                                        loading="lazy"
                                                        alt="Spicy110 reviewing the Super Soco CPx electric scooter"
                                                        src="/wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n.jpg"
                                                        srcset="/wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n-300x157.jpg 300w, /wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n-1024x538.jpg 1024w, /wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n-768x403.jpg 768w, /wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n-1536x806.jpg 1536w, /wp-content/uploads/2021/08/238660243_826026004612262_1860268218301450688_n-1900x997.jpg 1900w"
                                                        width="2048" height="1075"></a>
                                                <div class="text">
                                                    <h2>
                                                        <a href="review/spicy110-cpx-electric-scooter-review/index.htm">Spicy110
                                                            CPx review; “It’s actually kind of amazing!”</a>
                                                    </h2>
                                                    <h3 class="date">27/08/2021</h3>
                                                    <blockquote>We recently gave Spicy110 a Super Soco CPx for a couple
                                                        of weeks to find out what it’s like to live with.</blockquote>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="read-more-wrap">
                                    <a class="button arrow-button big-button" href="news-reviews/index.htm">Read More
                                        News &amp; Reviews</a>
                                </div>
                            </div>
                        </section> -->
                    </div>
                </div>
            </main>
        </div>
        
        <%- include('./common/footer.ejs') %>