<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1>TOP<span style="color:rgb(57, 189, 57);"> MANAGMENT</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);"><strong>Urja Global Limited Top Managment</strong></h3>
                                <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p>
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                </p>
                                <p style="text-align: justify;">
                                    Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p>
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    
                    <section class="soco-expandable-content light-on-dark no-img-crop">
                        <div>
                            <div class="main" style="text-align: justify;">
                                <div class="image"><img loading="lazy"
                                        alt="Super Soco TSx electric motorcycle being ridden with pillion lifestyle image"
                                        src="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        srcset="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        width="1800" height="1200"></div>
                                <div class="text">
                                    <h3 class="main-heading" style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px;">Mr. Kamal Kumar Sharma</h3>
                                    <div class="main-content">
                                        <h4>CHIEF FINANCIAL OFFICER</h4>
                                    </div>
                                    <div class="main-content">
                                        <div>
                                            <p><span style="font-weight: 400;">
                                                
                                                Having an experience of Thirty Years in the field of Accounting & Finance management. His last assignment was with Orient Press Limited Which is listed at National Stock Exchange. Prior to which he had worked with large Public Companies. Further, his broad vision and strategies will help the company to emerge from the challenging situations that the company may come across.He plays an instrumental role in the Marketing and Sales Development of the Company. He has been successful while associating the Company with the worthy projects to the credits of the Company viz. PEC Ltd, Mecon Ltd, etc. Mr. Goyal is holding a Master’s Degree in Commerce.
                                            
                                            </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="main" style="text-align: justify;">
                                <div class="image"><img loading="lazy"
                                        alt="Super Soco TSx electric motorcycle being ridden with pillion lifestyle image"
                                        src="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        srcset="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        width="1800" height="1200"></div>
                                <div class="text">
                                    <h3 class="main-heading" style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px;">Ms. Neha Shukla</h3>
                                    <div class="main-content">
                                        <h4>COMPANY SECRETARY</h4>
                                    </div>
                                    <div class="main-content">
                                        <div>
                                            <p><span style="font-weight: 400;">
                                                
                                                A qualified company secretary passed her professional programme in December 2015 from “The Institute of Company Secretaries of India” and has been awarded a degree in August 2016. Have experience of 5 years in handling secretarial and legal compliances. Holding a degree of LLB (3 years), M.COM and B.com from reputed universities of India. Her impressive profile, good knowledge, and personality will ensure a company complies with financial and legal requirements and maintains its high standards of corporate governance.

                                            </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="main" style="text-align: justify;">
                                <div class="image"><img loading="lazy"
                                        alt="Super Soco TSx electric motorcycle being ridden with pillion lifestyle image"
                                        src="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        srcset="/wp-content/uploads/2020/12/Super_Soco_Milan16-1.jpg"
                                        width="1800" height="1200"></div>
                                <div class="text">
                                    <h3 class="main-heading" style="border-left-style: solid; border-color:rgb(57, 189, 57); border-left-width: 7px; padding-left: 7px;">Mr. Mohan Jagdish Agarwal</h3>
                                    <div class="main-content">
                                        <h4>MANAGING DIRECTOR</h4>
                                    </div>
                                    <div class="main-content">
                                        <div>
                                            <p><span style="font-weight: 400;">
                                                
                                                He worked as President-Programming and Marketing in Mudra Lifestyle Limited from 2003-2012 and in Bombay Rayon Fashions Limited from 1999-2003 in Production-Planning and Marketing. Currently he is Director of Mega Nirman and Industries Limited, Urja Batteries Limited and Leaf Fashions Private Limited. Further, his broad vision and strategies will help the company to emerge from the challenging situations that the company may come across.
                                                
                                            </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </section>



                </div>
            </div>
        </main>
    </div>
    <%- include('./common/footer.ejs') %>