<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div>
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show"
                                    style="background-image: url('../wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1 style="color: white;">PRODUCT<span style="color:rgb(57, 189, 57);"> CATEGORY</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <SCRIPT>
                        const ProductsCardData = [
  {
    name: "Batteries",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1629564455407.jpg",
    isTopCategory: true,
    displayOrder: 0,
    id: "61212e3961090c6380388818",
  },
  {
    name: "Solar Inverter",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147176997.jpg",
    isTopCategory: true,
    displayOrder: 0,
    id: "612a1269b14dea0dc90f65f1",
  },
  {
    name: "LED Lights",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147216064.jpg",
    isTopCategory: true,
    displayOrder: 0,
    id: "612a1290b14dea0dc90f65f2",
  },
  {
    name: "PV Module",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147417137.png",
    isTopCategory: true,
    displayOrder: 0,
    id: "612a1359b14dea0dc90f65f3",
  },
  {
    name: "Water Heater",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147446479.png",
    displayOrder: 0,
    id: "612a1377b14dea0dc90f65f4",
  },
  {
    name: "Solar Lanterns",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147481827.png",
    displayOrder: 0,
    id: "612a139ab14dea0dc90f65f5",
  },
  {
    name: "Power Pack",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147514363.png",
    displayOrder: 0,
    id: "612a13bab14dea0dc90f65f6",
  },
  {
    name: "Home Lighting",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147581030.png",
    displayOrder: 0,
    id: "612a13fdb14dea0dc90f65f7",
  },
  {
    name: "Solar Charge Controller",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147610166.jpg",
    displayOrder: 0,
    id: "612a141ab14dea0dc90f65f8",
  },
  {
    name: "LED Bulbs",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630147758810.jpg",
    displayOrder: 0,
    id: "612a14afb14dea0dc90f65fb",
  },
  {
    isTopCategory: false,
    name: "Electric Car",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1630749860022.jpeg",
    displayOrder: 100,
    id: "613344a477db1b0f96b9adc9",
  },
  {
    displayOrder: 0,
    isTopCategory: true,
    name: "E Rikshaw",
    image: "https://urja-kendra.s3.us-east-2.amazonaws.com/1645881704422.png",
    id: "621a2969f742661502cd4b05",
  },
];
                    </SCRIPT>
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);"><strong>Product Categories We Offer</strong></h3>
                                <!-- <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p> -->
                                <!-- <p>Website &#8211; <a
                                        href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                                </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                <!-- </p> -->
                                <!-- <p style="text-align: justify;">
                                    Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                                </p> -->
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                                    Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <div>
                    <section class="soco-pic-links">
                        <div class="" id="parentDiv">
                        </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        window.onload = function() {
            doit()
        }
        const container = document.getElementById('parentDiv');
        const doit = () => {
            ProductsCardData.forEach(elem => {
                console.log(elem)
                container.innerHTML += `
                                <a class="item rise-up" href="/products/${elem.id}">
                                    <div class="image"><img loading="lazy" alt="Super Soco TC Max lifesttyle image"
                                            src="${elem.image}"
                                            srcset="${elem.image}"
                                            width="1080" height="1080"></div>
                                    <div class="text">
                                        <div>
                                            <h2>${elem.name}</h2>
                                            <div class="description">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                `
            })
        }
    </script>
    <%- include('./common/footer.ejs') %>

      
