</main>

<div class="newsletter-area">
    <div class="container">
        <div class="row wow fadeInUp align-items-center">
            <div class="col-lg-6">
                <div class="newsletter-text mb-30">
                    <h4>Subscribe Us For Newsletter</h4>
                    <p>To Get Latest Update about Urja Globals, Subscribe Now.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="subscribe-form mb-30">
                    <input type="text" placeholder="Enter your email...">
                    <button type="submit"><i class="fas fa-paper-plane"></i>Subscribe Us</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <section class="footer-area pt-80 pb-40">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-40">
                        <div class="question-area">
                            <div class="question-icon">
                                <i class="flaticon-support"></i>
                            </div>
                            <div class="question-text">
                                <p>Have a question? Call Anytime 24/7</p>
                                <span><a href="tel:918000500789">(+91) 8000500789</a></span>
                            </div>
                        </div>
                        <div class="footer-address">
                            <h5>Corporate Office</h5>
                            <p>Address</p>
                        </div>
                        <div class="grb__social footer-social">
                            <ul>
                                <li><a href="#"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i
                                            class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-40 cat-m">
                        <div class="footer-widget-title">
                            <h4>Premium Cars</h4>
                        </div>
                        <ul class="footer-list">
                            <li><a href="hire-rolls-royce-on-rent.html">Rolls Royce</a></li>
                            <li><a href="hire-limousine-on-rent.html">Limousine</a></li>
                            <li><a href="hire-jaguar-on-rent.html">Jaguar</a></li>
                            <li><a href="hire-lamborghini-on-rent.html">Lamborghini</a></li>
                            <li><a href="hire-bentley-on-rent.html">Bentley</a></li>
                            <li><a href="hire-audi-on-rent.html">Audi</a></li>
                            <li><a href="coming-soon.html">Ferrari</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-40 cat-m">
                        <div class="footer-widget-title">
                            <h4>Luxury Cars</h4>
                        </div>
                        <ul class="footer-list">
                            <li><a href="hire-bmw-on-rent.html">BMW</a></li>
                            <li><a href="hire-mercedes-on-rent.html">Mercedes Benz</a></li>
                            <li><a href="hire-hummer-on-rent.html">Hummer</a></li>
                            <li><a href="hire-thar-on-rent.html">Thar</a></li>
                            <li><a href="#">Fortuner</a></li>
                            <li><a href="hire-range-rover-on-rent.html">Range Rover</a></li>
                            <li><a href="vintage-car-hire.html">Vintage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-widget-title">
                            <h4>Core Services</h4>
                        </div>
                        <ul class="footer-list">
                            <li><a href="hire-car-for-wedding.html">Wedding Cars</a></li>
                            <li><a href="hire-luxury-cars-on-rent.html">Luxury Cars</a></li>
                            <li><a href="vintage-car-hire.html">Vintage Cars</a></li>
                            <li><a href="self-drive-car.html">Self Driven Cars</a></li>
                            <li><a href="corporate-car-hire.html">Corporate Cars</a></li>
                            <li><a href="pre-wedding-cars.html">Pre Wedding Shoot</a></li>
                            <li><a href="open-car-hire.html">Convertible Cars</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <div class="copyright-area">
        <div class="container">
            <div class="row wow fadeInUp align-items-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="copyright-logo logo-shape">
                        <a href="/">
                            <img src="/images/logo.png" style="width: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="copyright-text">
                        <p>Copyright &copy; <a href="#">URJA GLOBAL</a> All Right Reserved.</p>
                    </div>
                    <div class="">
                        CIN NO: L67120DL1992PLC048983 <br/> GSTIN NO: 07AAACC0367M1ZN
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <ul class="copyright-list f-right">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/terms-and-conditions">Terms of Use</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/swiper-bundle.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<script src="/assets/js/ajax-form.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.scrollUp.min.js"></script>
<script src="/assets/js/odometer.min.js"></script>
<script src="/assets/js/appair.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>



<script id="_agile_min_js" async="" type="text/javascript" src="stats/min/agile-min.js"></script>
    <script
        type="text/javascript">var Agile_API = Agile_API || {}; Agile_API.on_after_load = function () { _agile.set_account("eutoeia78b0fghvenv8dibn9is", "vmoto"); _agile.track_page_view(); };</script>
    <script type='text/javascript' src='/wp-content/themes/iwdtheme2/js/main.js?ver=2.4.0-0.2.1'
        id='iw_main_js-js'></script>
    <!-- <script type='text/javascript' src='/wp-content/themes/iwdtheme2-child/js/main.js?ver=2.4.0-0.2.1'
        id='iw_child_main_js-js'></script> -->
</body>

</html>