<footer class="main-footer rows-3" id="main-footer"
            style="background-image: url('/wp-content/uploads/2020/12/texture_bgd-1600x1000.jpg'); ">
            <div class="main-footer-start">
                <img alt="Super Soco TSX electric motorcycle" src="/wp-content/uploads/2020/12/footer.png"
                    srcset="/wp-content/uploads/2020/12/footer.png"
                    class="footer-floating-image" width="490" height="556">
            </div>
            <div class="main-footer-rows">
                <div class="main-footer-row row-1 cells-1">
                    <div>
                        <div class="main-footer-col col-1">
                            <div><a href="/" class="logo-link">
                                    <img alt="Urja Kendra" src="/images/logo.png">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-footer-row row-2 cells-1">
                    <div>
                        <div class="main-footer-col col-1">
                            <div>
                                <div>
                                    <nav id="footer-menu">
                                        <div class="menu-footer-menu-container">
                                            <ul id="menu-footer-menu" class="menu">
                                                <li id="menu-item-470"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-470">
                                                    <a href="/">Home</a></li>
                                                <li id="menu-item-468"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468">
                                                    <a href="/career">Career</a></li>
                                                <li id="menu-item-467"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                                                    <a href="/blogs">Blog</a>
                                                </li>
                                                <li id="menu-item-109"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109">
                                                    <a href="/terms-and-conditions">Terms and Conditions</a></li>
                                                <li id="menu-item-470"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-470">
                                                    <a href="/privacy-policy">Privacy Policy</a></li>
                                                <li id="menu-item-468"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468">
                                                    <a href="/refund-policy">Refund Policy</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="main-footer-row row-2 cells-3">
                                    <div>
                                        <div class="main-footer-col col-4">
                                            <div>
                                                    <h3>Contacts</h3>
                                            </div
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <nav id="footer-menu">
                                        <div class="menu-footer-menu-container">
                                            <ul id="menu-footer-menu" class="menu">
                                                <li id="menu-item-470"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-470">
                                                    <a href="/">+91 11-25279143 | 45588275</a></li>
                                                <li id="menu-item-468"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468">
                                                    <a href="/career">info@urjaglobal.in</a></li>
                                                <li id="menu-item-467"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                                                    <a href="/blogs">487/63, 1st Floor, National Market, Peeragarhi, New Delhi-110087</a>
                                                </li>
                                                <!-- <li id="menu-item-109"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109">
                                                    <a href="/terms-and-conditions">Terms and Conditions</a></li>
                                                <li id="menu-item-470"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-470">
                                                    <a href="/privacy-policy">Privacy Policy</a></li>
                                                <li id="menu-item-468"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468">
                                                    <a href="/refund-policy">Refund Policy</a></li> -->
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <aside class="social-links">
                                    <ul>
                                        <li class="social-link social-link-facebook">
                                            <a href="#" target="_blank" rel="noopener"></a>
                                        </li>
                                        <li class="social-link social-link-twitter">
                                            <a href="#" target="_blank" rel="noopener"></a>
                                        </li>
                                        <li class="social-link social-link-instagram">
                                            <a href="#" target="_blank" rel="noopener"></a>
                                        </li>
                                    </ul>
                                </aside>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-footer-row row-3 cells-1">
                    <div>
                        <div class="main-footer-col col-1">
                            <div>
                                <p>© 2022 Urja Kendra Pvt. Ltd. | All Rights Reserved | </p>
                            </div>
                        </div>
                        <div class="main-footer-col col-1">
                            <div class=""> CIN NO: L67120DL1992PLC048983 <hr/> GSTIN NO: 07AAACC0367M1ZN</div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="main-footer-end">
                <a class="si-link" href="https://developersinfotech.com" target="_blank">Developers Infotech Pvt.
                    Ltd.</a>
            </div>
        </footer>
    </div>
    <script type="text/html" data-cached="soco-megamenu"><div class="megamenu soco-bike-megamenu">
	<div>
		<div class="main">
			<nav class="nav-items">
				<ul>
											<li data-select-if="93">
							<a href="https://www.supersoco.co.uk/bike/tc-max/" data-select="93"><span>TC Max</span></a>
						</li>
											<li data-select-if="92">
							<a href="https://www.supersoco.co.uk/bike/tc/" data-select="92"><span>TC</span></a>
						</li>
											<li data-select-if="91">
							<a href="https://www.supersoco.co.uk/bike/tsx/" data-select="91"><span>TSx</span></a>
						</li>
											<li data-select-if="90">
							<a href="https://www.supersoco.co.uk/bike/cpx/" data-select="90"><span>CPx</span></a>
						</li>
											<li data-select-if="89">
							<a href="https://www.supersoco.co.uk/bike/cux/" data-select="89"><span>CUx</span></a>
						</li>
											<li data-select-if="1543">
							<a href="https://www.supersoco.co.uk/bike/super-soco-cu-mini/" data-select="1543"><span>CU mini</span></a>
						</li>
									</ul>
			</nav>
			<div class="image-and-link">
				<div class="images">
											<div class="image" data-show-if="93"><img alt="Super Soco TC Max electric motorcycle - side" src="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_Max_featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_Max_featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_Max_featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_Max_featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_Max_featured.png 1200w" width="1200" height="834" /></div>
											<div class="image" data-show-if="92"><img alt="Super Soco TC electric motorcycle - side" src="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TC_featured.png 1200w" width="1200" height="834" /></div>
											<div class="image" data-show-if="91"><img alt="Super Soco TSx electric motorcycle - side" src="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TSX_featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2020/12/TSX_featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TSX_featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TSX_featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/TSX_featured.png 1200w" width="1200" height="834" /></div>
											<div class="image" data-show-if="90"><img alt="Super Soco CPx electric scooter - side" src="https://www.supersoco.co.uk/wp-content/uploads/2020/12/CPX_featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2020/12/CPX_featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CPX_featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CPX_featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CPX_featured.png 1200w" width="1200" height="834" /></div>
											<div class="image" data-show-if="89"><img alt="Super Soco CUx electric scooter - side" src="https://www.supersoco.co.uk/wp-content/uploads/2020/12/CUX_featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2020/12/CUX_featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CUX_featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CUX_featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2020/12/CUX_featured.png 1200w" width="1200" height="834" /></div>
											<div class="image" data-show-if="1543"><img alt="Super Soco CU mini" src="https://www.supersoco.co.uk/wp-content/uploads/2021/12/CU-mini-featured.png" srcset="https://www.supersoco.co.uk/wp-content/uploads/2021/12/CU-mini-featured-300x209.png 300w, https://www.supersoco.co.uk/wp-content/uploads/2021/12/CU-mini-featured-1024x712.png 1024w, https://www.supersoco.co.uk/wp-content/uploads/2021/12/CU-mini-featured-768x534.png 768w, https://www.supersoco.co.uk/wp-content/uploads/2021/12/CU-mini-featured.png 1200w" width="1200" height="834" /></div>
									</div>
				<div class="links">
											<div class="link-wrap" data-show-if="93">
							<a href="https://www.supersoco.co.uk/bike/tc-max/" class="button arrow-button">Explore TC Max</a>
						</div>
											<div class="link-wrap" data-show-if="92">
							<a href="https://www.supersoco.co.uk/bike/tc/" class="button arrow-button">Explore TC</a>
						</div>
											<div class="link-wrap" data-show-if="91">
							<a href="https://www.supersoco.co.uk/bike/tsx/" class="button arrow-button">Explore TSx</a>
						</div>
											<div class="link-wrap" data-show-if="90">
							<a href="https://www.supersoco.co.uk/bike/cpx/" class="button arrow-button">Explore CPx</a>
						</div>
											<div class="link-wrap" data-show-if="89">
							<a href="https://www.supersoco.co.uk/bike/cux/" class="button arrow-button">Explore CUx</a>
						</div>
											<div class="link-wrap" data-show-if="1543">
							<a href="https://www.supersoco.co.uk/bike/super-soco-cu-mini/" class="button arrow-button">Explore CU mini</a>
						</div>
									</div>
			</div>
		</div>
		<div class="summaries">
							<div class="summary" data-show-if="93">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/tc-max/" class="price-link"><span class="price-price">£4,399</span> <span class="price-option">(Alloy Wheel)</span>, <span class="price-price">£4,499</span> <span class="price-option">(Spoked Wheel)</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">60mph / 95kph Max Speed, 5.0kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">60 Miles / 95km** Estimated Range, 60v 45Ah (2.7kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">A1 - CBT from 17 years old (125cc equivalent)</div>
						</div>
									</div>
							<div class="summary" data-show-if="92">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/tc/" class="price-link"><span class="price-price">£2,899</span> <span class="price-option">(Single Battery)</span>, <span class="price-price">£3,399</span> <span class="price-option">(Dual Battery)</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">28mph / 45kph (Restricted) Max Speed, 3.0kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">44 Miles / 71km (Single Battery), 78 Miles / 126km (Dual Battery)** Estimated Range, 60v 30Ah (1.8 kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">AM - CBT from 16 years old (50cc equivalent)</div>
						</div>
									</div>
							<div class="summary" data-show-if="91">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/tsx/" class="price-link"><span class="price-price">£2,899</span> <span class="price-option">(Single Battery)</span>, <span class="price-price">£3,399</span> <span class="price-option">(Dual Battery)</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">28mph / 45kph (Restricted) Max Speed, 3.0kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">44 Miles / 70km (Single Battery), 80 Miles / 128km (Dual Battery)** Estimated Range, 60v 30Ah (1.8 kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">AM - CBT from 16 years old (50cc equivalent)</div>
						</div>
									</div>
							<div class="summary" data-show-if="90">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/cpx/" class="price-link"><span class="price-price">£3,999</span> <span class="price-option">(Single Battery)</span>, <span class="price-price">£4,999</span> <span class="price-option">(Dual Battery)</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">56mph / 90kph Max Speed, 4.8kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">44 Miles / 72km (Single Battery), 87 Miles / 137km (Dual Battery)** Estimated Range, 60v 45Ah Per Battery (2.7kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">A1 - CBT from 17 years old (125cc equivalent)</div>
						</div>
									</div>
							<div class="summary" data-show-if="89">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/cux/" class="price-link"><span class="price-price">£2,549</span> <span class="price-option">(Standard Version)</span>, <span class="price-price">£2,899</span> <span class="price-option">(Ducati Edition)</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">28mph / 45kph (Restricted) Max Speed, 2.8kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">40 Miles / 64km** Estimated Range, 60v 30Ah (1.8 kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">AM - CBT from 16 years old (50cc equivalent)</div>
						</div>
									</div>
							<div class="summary" data-show-if="1543">
											<div class="summary-section">
							<h3>Price</h3>
							<div class="body"><a href="https://www.supersoco.co.uk/bike/super-soco-cu-mini/" class="price-link"><span class="price-price">£1,699</span>*</a></div>
						</div>
											<div class="summary-section">
							<h3>Motor</h3>
							<div class="body">42kmh / 26mph Max Speed, 1 kW Max Power</div>
						</div>
											<div class="summary-section">
							<h3>Battery</h3>
							<div class="body">40 km / 25 miles** Estimated Range, 40v 28Ah (1.1kWh) Battery Capacity</div>
						</div>
											<div class="summary-section">
							<h3>License</h3>
							<div class="body">AM - CBT from 16 years old (50cc equivalent)</div>
						</div>
									</div>
					</div>
	</div>
</div></script>
    <aside class="social-links social-links-pinned">
        <ul>
            <li class="social-link social-link-facebook">
                <a href="#" target="_blank" rel="noopener"></a>
            </li>
            <li class="social-link social-link-twitter">
                <a href="#" target="_blank" rel="noopener"></a>
            </li>
            <li class="social-link social-link-instagram">
                <a href="#" target="_blank" rel="noopener"></a>
            </li>
        </ul>
    </aside>
    <div class="popup popup-main-menu has-close-icon" data-popup="main-menu">
        <div class="popup-main">
            <div class="popup-content">
                <div class="main-menu-popup-content no-image">
                    <div>
                        <div class="menu-popup-menu-container">
                            <ul id="menu-popup-menu" class="menu">
                                <li id="menu-item-969"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-969">
                                    <a href="/" aria-current="page">Home</a></li>
                                <li id="menu-item-978"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-978">
                                    <a href="#">About Us▼</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-981"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-981">
                                            <a href="/about">About Us</a></li>
                                        <li id="menu-item-980"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
                                            <a href="/about-ceo">CEO</a></li>
                                        <li id="menu-item-1086"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                            <a href="/company-overview">Company Overview</a></li>
                                        <li id="menu-item-1086"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                            <a href="/vision-and-mission">Vision and Mission</a></li>
                                        <li id="menu-item-1086"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                            <a href="/board-of-directors">Board of Directors</a></li>
                                        <li id="menu-item-1086"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                            <a href="/key-positions">Key Managerial Positions</a></li>
                                        <li id="menu-item-983"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                            <a href="/business-partners">Business Partners</a></li>
                                    </ul>
                                </li>
                                <!-- <li id="menu-item-970"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-970">
                                    <a href="range/index.htm">Range ▼</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-971"
                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-971 bike-id-93">
                                            <a href="bike/tc-max/index.htm">TC Max</a></li>
                                        <li id="menu-item-972"
                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-972 bike-id-92">
                                            <a href="bike/tc/index.htm">TC</a></li>
                                        <li id="menu-item-973"
                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-973 bike-id-91">
                                            <a href="bike/tsx/index.htm">TSx</a></li>
                                        <li id="menu-item-974"
                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-974 bike-id-90">
                                            <a href="bike/cpx/index.htm">CPx</a></li>
                                        <li id="menu-item-975"
                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-975 bike-id-89">
                                            <a href="bike/cux/index.htm">CUx</a></li>
                                        <li id="menu-item-1644"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1644">
                                            <a href="bike/super-soco-cu-mini/index.htm">CU mini</a></li>
                                    </ul>
                                </li> -->
                                <li id="menu-item-976"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-976"><a
                                        href="/products">Products</a></li>
                                        <li id="menu-item-978"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-978">
                                        <a href="#">Investors▼</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-981"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-981">
                                                <a href="/#">Announcements</a></li>
                                            <li id="menu-item-980"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
                                                <a href="/#">Right Issue</a></li>
                                            <li id="menu-item-1086"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                <a href="/#">Notices of record date & BM</a></li>
                                            <li id="menu-item-1086"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                <a href="/#">Financials</a></li>
                                            <li id="menu-item-1086"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                <a href="/#">Corporate Governance</a></li>
                                            <li id="menu-item-1086"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                <a href="/#">Share Holding Patterns</a></li>
                                            <li id="menu-item-983"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                                <a href="/#">Annual Report</a></li>
                                            <li id="menu-item-983"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                                <a href="/#">Contact Info</a></li>
                                        </ul>
                                    </li>
                                <li id="menu-item-977"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-977"><a
                                        href="/electric-vehicles">Electric Vehicles</a></li>
                                <li id="menu-item-1055"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a
                                        href="/projects">Projects</a></li>
                                <li id="menu-item-1138"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1138"><a
                                        href="/contact">Contact Us</a></li>
                                <li id="menu-item-982"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-982"><a
                                        href="/gallery">Gallery</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-close-wrap">
            <div class="popup-close" data-popup-close=""></div>
        </div>
    </div>
    <script id="_agile_min_js" async="" type="text/javascript" src="stats/min/agile-min.js"></script>
    <script
        type="text/javascript">var Agile_API = Agile_API || {}; Agile_API.on_after_load = function () { _agile.set_account("eutoeia78b0fghvenv8dibn9is", "vmoto"); _agile.track_page_view(); };</script>
    <script type='text/javascript' src='/wp-content/themes/iwdtheme2/js/main.js?ver=2.4.0-0.2.1'
        id='iw_main_js-js'></script>
    <script type='text/javascript' src='/wp-content/themes/iwdtheme2-child/js/main.js?ver=2.4.0-0.2.1'
        id='iw_child_main_js-js'></script>
</body>

</html>