<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Urja Global</title>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'>


    <meta name="description"
        content="Electric motorcycles from Super Soco feature nimble and breathtaking designs. Super Soco is Britain’s most popular electric motorcycle brand.">
    <link rel="canonical" href="/">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Urja Electric Motor Vehicles">
    <meta property="og:description" content="Urja Electric Motor Vehicles">
    <meta property="og:url" content="https://developersinfotech.com">
    <meta property="og:site_name" content="Urja Global">
    <meta property="article:modified_time" content="2021-12-03T10:05:52+00:00">
    <meta property="og:image:width" content="1800">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:type" content="image/jpeg">


    <link rel='dns-prefetch' href='//s.w.org'>
    <link rel='stylesheet' id='wp-block-library-css' href='/wp-includes/css/dist/block-library/style.min.css?ver=5.9.3'
        type='text/css' media='all'>
    <style id='global-styles-inline-css' type='text/css'>
        body {
            --wp--preset--color--black: #000000;
            --wp--preset--color--cyan-bluish-gray: #abb8c3;
            --wp--preset--color--white: #ffffff;
            --wp--preset--color--pale-pink: #f78da7;
            --wp--preset--color--vivid-red: #cf2e2e;
            --wp--preset--color--luminous-vivid-orange: #ff6900;
            --wp--preset--color--luminous-vivid-amber: #fcb900;
            --wp--preset--color--light-green-cyan: #7bdcb5;
            --wp--preset--color--vivid-green-cyan: #00d084;
            --wp--preset--color--pale-cyan-blue: #8ed1fc;
            --wp--preset--color--vivid-cyan-blue: #0693e3;
            --wp--preset--color--vivid-purple: #9b51e0;
            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
            --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
            --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
            --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
            --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
            --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
            --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
            --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
            --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
            --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
            --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
            --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
            --wp--preset--font-size--small: 13px;
            --wp--preset--font-size--medium: 20px;
            --wp--preset--font-size--large: 36px;
            --wp--preset--font-size--x-large: 42px;
        }

        .has-black-color {
            color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-color {
            color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-color {
            color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-color {
            color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-color {
            color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-color {
            color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-color {
            color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-color {
            color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-color {
            color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-color {
            color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-color {
            color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-color {
            color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-background-color {
            background-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-background-color {
            background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-background-color {
            background-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-background-color {
            background-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-background-color {
            background-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-background-color {
            background-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-background-color {
            background-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-background-color {
            background-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-background-color {
            background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-background-color {
            background-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-border-color {
            border-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-border-color {
            border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-border-color {
            border-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-border-color {
            border-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-border-color {
            border-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-border-color {
            border-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-border-color {
            border-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-border-color {
            border-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-border-color {
            border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-border-color {
            border-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
        }

        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
        }

        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-orange-to-vivid-red-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
        }

        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
        }

        .has-cool-to-warm-spectrum-gradient-background {
            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
        }

        .has-blush-light-purple-gradient-background {
            background: var(--wp--preset--gradient--blush-light-purple) !important;
        }

        .has-blush-bordeaux-gradient-background {
            background: var(--wp--preset--gradient--blush-bordeaux) !important;
        }

        .has-luminous-dusk-gradient-background {
            background: var(--wp--preset--gradient--luminous-dusk) !important;
        }

        .has-pale-ocean-gradient-background {
            background: var(--wp--preset--gradient--pale-ocean) !important;
        }

        .has-electric-grass-gradient-background {
            background: var(--wp--preset--gradient--electric-grass) !important;
        }

        .has-midnight-gradient-background {
            background: var(--wp--preset--gradient--midnight) !important;
        }

        .has-small-font-size {
            font-size: var(--wp--preset--font-size--small) !important;
        }

        .has-medium-font-size {
            font-size: var(--wp--preset--font-size--medium) !important;
        }

        .has-large-font-size {
            font-size: var(--wp--preset--font-size--large) !important;
        }

        .has-x-large-font-size {
            font-size: var(--wp--preset--font-size--x-large) !important;
        }
    </style>
    <link rel='stylesheet' id='iw_main_css-css' href='/wp-content/themes/iwdtheme2/css/main.css?ver=2.4.0-0.2.1'
        type='text/css' media='all'>
    <link rel='stylesheet' id='tablepress-default-css'
        href='/wp-content/plugins/tablepress/css/default.min.css?ver=1.14' type='text/css' media='all'>
    <link rel='stylesheet' id='iw_child_main_css-css'
        href='/wp-content/themes/iwdtheme2-child/css/main.css?ver=2.4.0-0.2.1' type='text/css' media='all'>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2'
        id='jquery-migrate-js'></script>
    <link rel="https://api.w.org/" href="/wp-json/index.htm">
    <link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/10">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.supersoco.co.uk/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.9.3">
    <link rel='shortlink' href='/'>
    <link rel="alternate" type="application/json+oembed"
        href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.supersoco.co.uk%2F">
    <link rel="alternate" type="text/xml+oembed"
        href="/wp-json/oembed/1.0/embed-1?url=https%3A%2F%2Fwww.supersoco.co.uk%2F&#038;format=xml">
   
    <link rel="icon" href="/images/favicon.png" sizes="32x32">
    <link rel="icon" href="/images/favicon.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/images/favicon.png">
</head>

<body data-rsssl="1" class="home page-template-default page page-id-10 page-home first-block-banner">
    <script>document.body.className += " js " + (("ontouchstart" in window) ? "touch" : "notouch")</script>
    <span id="lg-detect"></span><span id="md-detect"></span><span id="hd-lg-detect"></span>
    <div id="global-wrapper">
        <header class="main-header rows-1 sticky-header-lg-only" id="main-header">
            <div class="main-header-rows">
                <div class="main-header-row row-1 cells-2">
                    <div>
                        <div class="main-header-col col-1">
                            <div><a href="/" class="logo-link">
                                    <img alt="Urja Kendra" style="height: 60px; width: 80px;" src="/images/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="main-header-col col-2">
                            <div>
                                <nav class="main-header-menu header-lg-only">
                                    <div>
                                        <div class="menu-main-menu-container">
                                            <ul id="menu-main-menu" class="menu">
                                                <li id="menu-item-415"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                                    <a href="/">Home</a></li>

                                                <li id="menu-item-415"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                                    <a href="#">About⠀Us⠀▼</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-415"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-981">
                                                            <a href="/about">About Us</a></li>
                                                        <li id="menu-item-980"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
                                                            <a href="/about-ceo">CEO</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/company-overview">Company Overview</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/vision-and-mission">Vision and Mission</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/board-of-directors">Board of Directors</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/key-positions">Key Managerial Positions</a></li>
                                                        <li id="menu-item-983"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                                            <a href="/business-partners">Business Partners</a></li>
                                                    </ul>
                                                </li>
                                                
                                                <li id="menu-item-415"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                                    <a href="/products">Products</a></li>
                                                    
                                                <li id="menu-item-415"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                                    <a href="#">Investors⠀▼</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-981"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-981">
                                                            <a href="/#">Announcements</a></li>
                                                        <li id="menu-item-980"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-980">
                                                            <a href="/#">Right Issue</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/#">Notices of record date & BM</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/#">Financials</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/#">Corporate Governance</a></li>
                                                        <li id="menu-item-1086"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1086">
                                                            <a href="/#">Share Holding Patterns</a></li>
                                                        <li id="menu-item-983"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                                            <a href="/#">Annual Report</a></li>
                                                        <li id="menu-item-983"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983">
                                                            <a href="/#">Contact Info</a></li>
                                                    </ul>
                                                
                                                </li>
                                                <!-- <li id="menu-item-417"
                                                    class="bikes-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-417">
                                                    <a href="range/index.htm">Range</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-97"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-97 bike-id-93">
                                                            <a href="bike/tc-max/index.htm">TC Max</a></li>
                                                        <li id="menu-item-98"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-98 bike-id-92">
                                                            <a href="bike/tc/index.htm">TC</a></li>
                                                        <li id="menu-item-99"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-99 bike-id-91">
                                                            <a href="bike/tsx/index.htm">TSx</a></li>
                                                        <li id="menu-item-100"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-100 bike-id-90">
                                                            <a href="bike/cpx/index.htm">CPx</a></li>
                                                        <li id="menu-item-101"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-101 bike-id-89">
                                                            <a href="bike/cux/index.htm">CUx</a></li>
                                                        <li id="menu-item-1639"
                                                            class="menu-item menu-item-type-post_type menu-item-object-bike menu-item-1639 bike-id-1543">
                                                            <a href="bike/super-soco-cu-mini/index.htm">CU mini</a></li>
                                                    </ul>
                                                </li> -->
                                                <li id="menu-item-415"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415">
                                                    <a href="/electric-vehicles">Electric⠀Vehicles</a></li>
                                                <li id="menu-item-1105"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105">
                                                    <a href="/projects">Projects</a></li>
                                                <li id="menu-item-416"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416">
                                                    <a href="/contact">Contact⠀Us</a></li>
                                                <li id="menu-item-414"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414">
                                                    <a href="/gallery">Gallery</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <div class="hamburger" data-popup-btn="main-menu">
                                    <div><span></span><span></span><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>