<!doctype html>
<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Urja Global</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/custom-animation.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/custom-animation.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/swiper-bundle.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/odometer.min.js"></script>
    <script src="/assets/js/appair.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

    <link rel='stylesheet' id='wp-block-library-css' href='/wp-includes/css/dist/block-library/style.min.css?ver=5.9.3'
    type='text/css' media='all'>

    <link rel='stylesheet' id='iw_main_css-css' href='/wp-content/themes/iwdtheme2/css/main.css'
    type='text/css' media='all'>
    <link rel='stylesheet' id='tablepress-default-css'
    href='/wp-content/plugins/tablepress/css/default.min.css?ver=1.14' type='text/css' media='all'>

    <link rel='stylesheet' id='iw_child_main_css-css'
        href='/wp-content/themes/iwdtheme2-child/css/main.css?ver=2.4.0-0.2.1' type='text/css' media='all'>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2'
        id='jquery-migrate-js'></script>

    <link rel="alternate" type="application/json+oembed"
        href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.supersoco.co.uk%2F">
    <link rel="alternate" type="text/xml+oembed"
        href="/wp-json/oembed/1.0/embed-1?url=https%3A%2F%2Fwww.supersoco.co.uk%2F&#038;format=xml">



</head>

<body>

    <header>
        <div class="header__top d-none d-md-block">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-9">
                        <div class="grb__cta header-cta">
                            <ul>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-phone-alt"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Call Us:</p>
                                        <span><a href="tel:917703961725">+91 8000500789</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Mail Us:  </p>
                                        <span>urjaglobal@gmail.com</span>
                                       
                                    </div>
                                </li>
                                <li>
                                    <div class="cta__icon">
                                        <span><i class="fas fa-clock"></i></span>
                                    </div>
                                    <div class="cta__content">
                                        <p>Stock Price: </p>
                                        <span>INR 12.30/-</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="grb__social f-right st-1">
                            <ul>
                                <li><a class="fb" href="#"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twt" href="#"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a class="insta" href="#"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a class="pint" href="#"><i
                                            class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main header-sticky header-main-1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-8">
                        <div class="logo">
                            <div class="logo-bg-1">
                                <img src="/assets/img/shape/logo-bg-1.png" alt="" >
                            </div>
                            <a class="logo-text-black" href="/"><img
                                    src="/images/logo.png" style="width: 100px; transform: translateX(25px); " alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-4">
                        <div class="header__menu-area f-right">
                            <div class="menu-bg-1">
                                <img src="/assets/img/shape/menu-bg-1.png" alt="">
                            </div>
                            <div class="main-menu main-menu-1">
                                <style>
                                    #mobile-menu>ul>li{
                                        margin-left: 10px;
                                    }
                                    #user-button{
                                        color: red;
                                        padding: 2px;
                                        border: solid 1 red;
                                        border-radius: 10px;
                                    }
                                    #user-button:hover{
                                        color: rgb(255, 95, 95);
                                    }
                                    @media only screen and (min-width:900px) and (max-width:1190px) {
                                        #mobile-menu>ul>li {
                                            margin-left: 0
                                        }
                                    }
                                </style>
                                <nav id="mobile-menu">
                                    <ul>
                                        <!-- <li><a href="/">Home</a></li> -->
                                        <li class="menu-item-has-children"><a href="#">About Us</a>
                                            <ul class="sub-menu">
                                                <li><a href="/about">About Us</a></li>
                                                <li><a href="/about-ceo">CEO</a></li>
                                                <li><a href="/company-overview">Company Overview</a></li>
                                                <li><a href="/vision-and-mission">Vision and Mission</a></li>
                                                <li><a href="/board-of-directors">Board of Directors</a></li>
                                                <li><a href="/key-positions">Key Managerial Positions</a></li>
                                                <li><a href="/business-partners">Business Partners</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/products">Products</a></li>
                                        <li class="menu-item-has-children"><a href="#">Investors</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Announcements</a></li>
                                                <li><a href="#">Right Issue</a></li>
                                                <li><a href="#">Notices of record date & BM</a></li>
                                                <li><a href="#">Financials</a></li>
                                                <li><a href="#">Corporate Governance</a></li>
                                                <li><a href="#">Share Holding Patterns</a></li>
                                                <li><a href="#">Annual Report</a></li>
                                                <li><a href="#">Contact Info</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/electric-vehicles">Electric Vehicles</a></li>
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li class="menu-item-has-children"><a href="<% if(user==null) { %>/login<% } else { %>#<% } %>" id="user-button"><i class="fa fa-user"></i> User</a>
                                            <ul class="sub-menu">
                                                <% if(user==null) { %>
                                                <li><a href="/login" id="login-dropdown">Login</a></li>
                                                <% } else { %>
                                                <li><a href="/cart" id="cart-dropdown">Cart</a></li>
                                                <li><a href="/orders" id="orders-dropdown">Orders</a></li>
                                                <li><a href="/logout" id="logout">Logout</a></li>
                                                <% } %>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <% if(user==null) { %>
                                <!-- <div class="header__btn d-none d-xl-inline-block">
                                    <a href="/login" style="background-color: #0693e3" class="grb-btn"><i
                                            class="fa fa-user"></i></a>
                                </div> -->
                            <% } else { %>
                                <div class="header__search">
                                    <a class="search-btn nav-search " href="/cart">
                                        <% if(user==null) { %>
                                            <i class="fa fa-user"></i>
                                        <% } else { %>
                                            <i class="fa fa-shopping-cart"></i>
                                        <% } %>
                                        
                                    </a>
                                    <!-- <a class="side-toggle d-lg-none" href="javascript:void(0)"><i
                                            class="fal fa-bars"></i></a> -->
                                </div>
                            <% } %>
                            <div class="header__search">
                                <!-- <a class="search-btn nav-search " href="tel:919810887582">
                                    <i class="fal fa-phone alt fa-rotate-90"></i></a> -->
                                <a class="side-toggle d-lg-none" href="javascript:void(0)"><i
                                        class="fal fa-bars"></i></a>
                            </div>
                            <!-- <div class="header__btn d-none d-xl-inline-block">
                                <a href="https://api.whatsapp.com/send?phone=919810887582&amp;text=Hi%20I'm%20Looking%20for%20a%20car%20for%20wedding.%20Help%20me%20out..."
                                    class="grb-btn"><i class="fab fa-whatsapp"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-logo mb-30 pb-20">
                    <div class="row align-items-center">
                        <div class="col-9"><a href="/"><img src="/images/logo.png" style="width: 100px;"
                                    alt="Logo"></a>
                        </div>
                        <div class="col-3 text-end"><button class="side-info-close"><i
                                    class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="offset-widget offset_searchbar mb-30">
                    <form method="get" action="#">
                        <div class="offset_search_content">
                            <input type="search" placeholder="What are you looking?">
                            <button type="submit" class="offset_search_button"><i
                                    class="fal fa-phone alt fa-rotate-90"></i></button>
                        </div>
                    </form>
                </div>
                <div class="offset-widget mb-40 d-none d-lg-block">
                    <div class="info-widget">
                        <h4 class="offset-title mb-20 d-none">About Us</h4>
                        <p class="mb-30">About Us Section</p>
                        <a href="/contact" class="c-btn btn-round-02 d-none">Contact Us</a>
                    </div>
                </div>
                <div class="contact-infos mt-30 mb-30">
                    <div class="contact-list mb-30">
                        <h4>How to Reach Us?</h4>
                        <a href="#" class="">
                            <i class="fal fa-map-marker-alt"></i>
                            <span>Address for Urja Global</span>
                        </a>
                        <a href="tel:+918000500789" class="">
                            <i class="fal fa-phone alt fa-rotate-90"></i>
                            <span>+91 8000500789</span>
                        </a>
                        <a href="cdn-cgi/l/email-protection.html#335a5d555c73445657575a5d545052415b5a415657565f5b5a1d5a5d"
                            class="">
                            <i class="far fa-envelope"></i>
                            <span>urjaglobal@gmail.com</span>
                        </a>
                    </div>
                    <div class="grb__social footer-social offset-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <main>